### ACCESSING DATA - TEST DATA 

#### Data Quality and Tidiness Issues

In [1]:
import pandas as pd
import requests
import numpy as np
#get current season data from FPL API endpoints and identify the keys
fpl_base_url = 'https://fantasy.premierleague.com/api/'
current_season = requests.get(fpl_base_url+'bootstrap-static/').json()
#json = r.json()
current_season.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [2]:
#create dataframes for the current season dictionary keys for data exploration
#- Contains summary of Gameweek data
events_df = pd.DataFrame(current_season['events']) #
phases_df = pd.DataFrame(current_season['phases']) #Shows calendar months for game weeks
teams_df = pd.DataFrame(current_season['teams'])
players_df = pd.DataFrame(current_season['elements'])
element_stats_df = pd.DataFrame(current_season['element_stats'])
element_types_df = pd.DataFrame(current_season['element_types'])

#Code to extract weekly game data for all active players in current season
for x in players_df.index :
    print(x)
    player_id = players_df.id[x]
    url = f'https://fantasy.premierleague.com/api/element-summary/{player_id}/'
    r = requests.get(url)
    json = r.json()
    json_history_df = pd.DataFrame(json['history'])
    json_history_past_df = pd.DataFrame(json['history_past'])

       
    if x == 0 :
        all_history_df = json_history_df
        all_history_past_df = json_history_past_df
    else : 
        all_history_df = all_history_df.append(json_history_df)
        all_history_past_df = all_history_past_df.append(json_history_past_df)

In [3]:
#Code to save the all players game week data in current and past seasons to csvs
#all_history_df.to_csv('/home/laniolao/fpl/FantasyPremierLeague/current_season.csv')
#all_history_past_df.to_csv('/home/laniolao/fpl/FantasyPremierLeague/past_seasons.csv')

In [4]:
# Read Data
df_currentseason = pd.read_csv('current_season.csv')
df_currentseason.head()

,Unnamed: 0,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,0,1,1,7,0,False,2022-08-05T19:00:00Z,0,2,1,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,1,11,10,0,True,2022-08-13T14:00:00Z,4,2,2,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,2,1,21,3,0,False,2022-08-20T16:30:00Z,0,3,3,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,3,1,31,9,0,True,2022-08-27T16:30:00Z,2,1,4,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,4,1,41,2,0,True,2022-08-31T18:30:00Z,2,1,5,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016

In [5]:
# Print all columns
df_currentseason.columns

Index(['Unnamed: 0', 'element', 'fixture', 'opponent_team', 'total_points',
       'was_home', 'kickoff_time', 'team_h_score', 'team_a_score', 'round',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out'],
      dtype='object')

In [6]:
#Descriptive information on features
df_currentseason.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         3579 non-null   int64
 1   element            3579 non-null   int64
 2   fixture            3579 non-null   int64
 3   opponent_team      3579 non-null   int64
 4   total_points       3579 non-null   int64
 5   was_home           3579 non-null   bool
 6   kickoff_time       3579 non-null   object
 7   team_h_score       3579 non-null   int64
 8   team_a_score       3579 non-null   int64
 9   round              3579 non-null   int64
 10  minutes            3579 non-null   int64
 11  goals_scored       3579 non-null   int64
 12  assists            3579 non-null   int64
 13  clean_sheets       3579 non-null   int64
 14  goals_conceded     3579 non-null   int64
 15  own_goals          3579 non-null   int64
 16  penalties_saved    3579 non-null   int64
 17  penalties_missed   3579 non-null   int64
 18  yellow_cards       3579 non-null   int64
 19  red_cards          3579 non-null   int64
 20  saves              3579 non-null   int64
 21  bonus              3579 non-null   int64
 22  bps                3579 non-null   int64
 23  influence          3579 non-null   float64
 24  creativity         3579 non-null   float64
 25  threat             3579 non-null   float64
 26  ict_index          3579 non-null   float64
 27  value              3579 non-null   int64
 28  transfers_balance  3579 non-null   int64
 29  selected           3579 non-null   int64
 30  transfers_in       3579 non-null   int64
 31  transfers_out      3579 non-null   int64
dtypes: bool(1), float64(4), int64(26), object(1)
memory usage: 870.4+ KB

In [7]:
# Check for any missing values.
df_currentseason.isnull().values.any()

False

In [8]:
#Check for duplicates on each row.
df_currentseason.duplicated().value_counts()

False    3579
dtype: int64

In [9]:
#Check for unique values
df_currentseason.nunique()

Unnamed: 0              6
element               624
fixture                60
opponent_team          20
total_points           25
was_home                2
kickoff_time           35
team_h_score            8
team_a_score            4
round                   6
minutes                81
goals_scored            4
assists                 4
clean_sheets            2
goals_conceded         10
own_goals               2
penalties_saved         2
penalties_missed        2
yellow_cards            2
red_cards               2
saves                  10
bonus                   4
bps                    65
influence             269
creativity            368
threat                 88
ict_index             161
value                  69
transfers_balance    2646
selected             3463
transfers_in         2249
transfers_out        2669
dtype: int64

In [10]:
#Descriptive Statistics
df_currentseason.describe()

,Unnamed: 0,element,fixture,opponent_team,total_points,team_h_score,team_a_score,round,minutes,goals_scored,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
count,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,...,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3.579000e+03,3.579000e+03,3.579000e+03,3.579000e+03
mean,2.451802,298.993294,30.993015,10.536742,1.372450,1.845488,1.080190,3.548198,33.070131,0.045543,...,6.014809,7.328416,4.911679,5.676167,1.790975,50.579771,5.867561e-03,2.334490e+05,2.122016e+04,2.122016e+04
std,1.708692,172.640918,17.340367,5.760302,2.497205,1.721169,0.838893,1.708692,40.095865,0.238530,...,9.551605,12.799157,10.650773,13.773295,3.048137,11.746198,9.187912e+04,6.753310e+05,8.042754e+04,6.822126e+04
min,0.000000,1.000000,1.000000,1.000000,-4.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,-15.000000,0.000000,0.000000,0.000000,0.000000,39.000000,-1.999266e+06,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000,150.000000,16.000000,6.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,45.000000,-3.769500e+03,7.592000e+03,3.500000e+01,3.685000e+02
50%,2.000000,299.000000,31.000000,11.000000,0.000000,2.000000,1.000000,4.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,45.000000,-4.140000e+02,2.998900e+04,1.007000e+03,2.555000e+03
75%,4.000000,448.000000,46.000000,16.000000,2.000000,2.000000,2.000000,5.000000,90.000000,0.000000,...,10.000000,10.800000,3.000000,3.000000,2.600000,54.000000,0.000000e+00,1.312120e+05,6.846000e+03,1.421000e+04
max,5.000000,624.000000,60.000000,20.000000,22.000000,9.000000,3.000000,6.000000,90.000000,3.000000,...,81.000000,125.800000,97.300000,129.000000,30.400000,130.000000,1.332069e+06,8.026017e+06,1.384843e+06,2.041377e+06

#### Observation
- No missing records
- No duplicate observation

In [11]:
#get current season fixtures from FPL API endpoint and create Dataframe

current_season_fixtures = requests.get(fpl_base_url+'fixtures/').json()
fixtures_df = pd.DataFrame(current_season_fixtures)
fixtures_df.head()

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292871,NaN,False,False,61,None,0,False,None,8,NaN,1,NaN,[],2,4,74971
1,2292921,NaN,False,False,111,None,0,False,None,13,NaN,1,NaN,[],5,4,75021
2,2292870,NaN,False,False,62,None,0,False,None,5,NaN,3,NaN,[],3,2,74972
3,2292882,NaN,False,False,73,None,0,False,None,7,NaN,5,NaN,[],2,3,74983
4,2292883,NaN,False,False,74,None,0,False,None,12,NaN,6,NaN,[],4,4,74984

In [12]:
#Print all columns
fixtures_df.columns

Index(['code', 'event', 'finished', 'finished_provisional', 'id',
       'kickoff_time', 'minutes', 'provisional_start_time', 'started',
       'team_a', 'team_a_score', 'team_h', 'team_h_score', 'stats',
       'team_h_difficulty', 'team_a_difficulty', 'pulse_id'],
      dtype='object')

In [13]:
# Descriptive information on features.
fixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   366 non-null    float64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   id                      380 non-null    int64
 5   kickoff_time            366 non-null    object
 6   minutes                 380 non-null    int64
 7   provisional_start_time  380 non-null    bool
 8   started                 366 non-null    object
 9   team_a                  380 non-null    int64
 10  team_a_score            67 non-null     float64
 11  team_h                  380 non-null    int64
 12  team_h_score            67 non-null     float64
 13  stats                   380 non-null    object
 14  team_h_difficulty       380 non-null    int64
 15  team_a_difficulty       380 non-null    int64
 16  pulse_id                380 non-null    int64
dtypes: bool(3), float64(3), int64(8), object(3)
memory usage: 42.8+ KB

In [14]:
# Check for any missing values.
fixtures_df.isnull().values.any()

True

In [15]:
True
# Check missing values for each feature.
fixtures_df.isna().sum()

code                        0
event                      14
finished                    0
finished_provisional        0
id                          0
kickoff_time               14
minutes                     0
provisional_start_time      0
started                    14
team_a                      0
team_a_score              313
team_h                      0
team_h_score              313
stats                       0
team_h_difficulty           0
team_a_difficulty           0
pulse_id                    0
dtype: int64

In [16]:
# Descriptive statistics.
fixtures_df.describe()

,code,event,id,minutes,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
count,3.800000e+02,366.000000,380.000000,380.000000,380.000000,67.000000,380.000000,67.000000,380.000000,380.000000,380.000000
mean,2.293000e+06,19.956284,190.500000,15.868421,10.500000,1.149254,10.500000,1.805970,2.550000,2.950000,75100.500000
std,1.098408e+02,10.929826,109.840794,34.343193,5.773884,0.925297,5.773884,1.751526,0.805735,1.024824,109.840794
min,2.292810e+06,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,2.000000,74911.000000
25%,2.292905e+06,11.000000,95.750000,0.000000,5.750000,0.000000,5.750000,1.000000,2.000000,2.000000,75005.750000
50%,2.293000e+06,20.000000,190.500000,0.000000,10.500000,1.000000,10.500000,2.000000,2.000000,3.000000,75100.500000
75%,2.293094e+06,29.000000,285.250000,0.000000,15.250000,2.000000,15.250000,2.000000,3.000000,4.000000,75195.250000
max,2.293189e+06,38.000000,380.000000,90.000000,20.000000,3.000000,20.000000,9.000000,5.000000,5.000000,75290.000000

#### Observation
- Some missing records related to future games

### FEATURE ENGINEERING

In [17]:
# Make a copy of the original piece of test data.
df_currentseason_clean = df_currentseason.copy()
players_df_clean = players_df.copy()
fixtures_df_clean = fixtures_df.copy()

To engineer two new features named club_name and position, we create dictionaries with the teams dataframe and map "team" and "element_type" to engineer the features.

In [18]:
#Map the team names and the player positions into the players_df_clean dataframe
teams_now=dict(zip(teams_df.id, teams_df.short_name))
positions=dict(zip(element_types_df.id, element_types_df.singular_name_short))
players_df_clean['club_name'] = players_df_clean['team'].map(teams_now)
players_df_clean['position'] = players_df_clean['element_type'].map(positions)

In [19]:
#Update the club names from abbreviations to full names
players_df_clean["club_name"].replace({'ARS': 'Arsenal', 'AVL': 'Aston Villa', 'BOU': 'Bournemouth', 'BRE': 'Brentford', 'BHA': 'Brighton', 'CHE': 'Chelsea', 'CRY': 'Crystal Palace', 'EVE': 'Everton', 'FUL': 'Fulham',
       'LEI': 'Leicester', 'LEE': 'Leeds', 'LIV': 'Liverpool', 'MCI': 'Man City', 'MUN': 'Man Utd', 'NEW': 'Newcastle', 'NFO': 'Nottingham Forest', 'SOU': 'Southampton', 'TOT': 'Spurs',
       'WHU': 'West Ham', 'WOL': 'Wolves'}, inplace=True)
players_df_clean.club_name

0      Arsenal
1      Arsenal
2      Arsenal
3      Arsenal
4      Arsenal
        ...
626     Wolves
627     Wolves
628     Wolves
629     Wolves
630     Wolves
Name: club_name, Length: 631, dtype: object

In [20]:
#create the player name feature
players_df_clean['name'] = players_df_clean['first_name'] + ' ' + players_df_clean['second_name']

In [21]:
#Create season_x feature to align with the train data
df_currentseason_clean['season_x'] = df_currentseason_clean.apply(lambda x: "2022-23", axis=1)

In [22]:
df_currentseason_clean.columns

Index(['Unnamed: 0', 'element', 'fixture', 'opponent_team', 'total_points',
       'was_home', 'kickoff_time', 'team_h_score', 'team_a_score', 'round',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out', 'season_x'],
      dtype='object')

In [23]:
players_df_clean[['id', 'first_name', 'second_name', 'name','club_name', 'minutes', 'form',  'bonus', 'bps', 'total_points', 'value_season', 'value_form']].head()

,id,first_name,second_name,name,club_name,minutes,form,bonus,bps,total_points,value_season,value_form
0,1,Cédric,Alves Soares,Cédric Alves Soares,Arsenal,0,0.0,0,0,0,0.0,0.0
1,3,Granit,Xhaka,Granit Xhaka,Arsenal,627,2.8,2,137,31,6.2,0.6
2,4,Mohamed,Elneny,Mohamed Elneny,Arsenal,90,0.5,0,15,2,0.5,0.1
3,5,Rob,Holding,Rob Holding,Arsenal,3,0.5,0,8,2,0.5,0.1
4,6,Thomas,Partey,Thomas Partey,Arsenal,347,0.8,0,52,11,2.3,0.2

We have dataframes with all the players in the league in the current season (players_df) and the current season individual players performance (df_currentseason_clean). We proceed as described below:
1. Map the team names, player names and form into the all current season data player dataframe
2. Drop irrelevant column
3. Drop players that have not played any game this season
4. Rename the column 'round' to 'GW' to be similar with the train data set
5. Engineer column 'game_date' feature and format to appropriate dtype
6. Engineer game season weather feature.
7. Engineer feature to highlights early and late games based on start time
8. Engineer feature to highlight the game year only.

In [24]:
#Map the team names, player names and form into the all current season data player dataframe
teams_map=dict(zip(players_df_clean.id, players_df_clean.name))
club_map=dict(zip(players_df_clean.id, players_df_clean.club_name))
opp_teams_map=dict(zip(players_df_clean.team, players_df_clean.club_name))
form_map=dict(zip(players_df_clean.id, players_df_clean.form))
position_map=dict(zip(players_df_clean.id, players_df_clean.position))
df_currentseason_clean['name'] = df_currentseason_clean['element'].map(teams_map)
df_currentseason_clean['club_name'] = df_currentseason_clean['element'].map(club_map)
df_currentseason_clean['opp_team_name'] = df_currentseason_clean['opponent_team'].map(opp_teams_map)
df_currentseason_clean['form'] = df_currentseason_clean['element'].map(form_map)
df_currentseason_clean['position'] = df_currentseason_clean['element'].map(form_map)

In [25]:
# Verify engineered features
df_currentseason_clean[['name', 'club_name', 'opp_team_name', 'form', 'position']].head()

                  name club_name   opp_team_name form position
0  Cédric Alves Soares   Arsenal  Crystal Palace  0.0      0.0
1  Cédric Alves Soares   Arsenal       Leicester  0.0      0.0
2  Cédric Alves Soares   Arsenal     Bournemouth  0.0      0.0
3  Cédric Alves Soares   Arsenal          Fulham  0.0      0.0
4  Cédric Alves Soares   Arsenal     Aston Villa  0.0      0.0

In [26]:
#Drop irrelevant feature
df_currentseason_clean.drop(['Unnamed: 0'], axis=1, inplace=True)

In [27]:
# Drop players that have not played any game this season from the df_currentseason dataframe
play_zero_minutes = df_currentseason_clean[df_currentseason_clean.minutes == 0].index
df_currentseason_clean.drop(play_zero_minutes, axis = 0, inplace=True)

In [28]:
#Rename column 'round' to 'GW' to be similar to train data
df_currentseason_clean.rename(columns= { 'round': 'GW' }, inplace=True)

In [29]:
#Preview kickoff_time column
df_currentseason_clean.kickoff_time

6       2022-08-05T19:00:00Z
7       2022-08-13T14:00:00Z
8       2022-08-20T16:30:00Z
9       2022-08-27T16:30:00Z
10      2022-08-31T18:30:00Z
                ...
3574    2022-08-20T11:30:00Z
3575    2022-08-28T13:00:00Z
3576    2022-08-31T18:30:00Z
3577    2022-09-03T14:00:00Z
3578    2022-09-03T14:00:00Z
Name: kickoff_time, Length: 1768, dtype: object

In [30]:
# Feature Engineer column 'game_date' and format to appropriate dtype
df_currentseason_clean['game_date'] = df_currentseason_clean['kickoff_time'].str.replace('T', ' ')
df_currentseason_clean['game_date'] = df_currentseason_clean['game_date'].str.replace(':00Z', '')
df_currentseason_clean['game_date'] = pd.to_datetime(df_currentseason_clean['game_date'])
df_currentseason_clean.game_date

6      2022-08-05 19:00:00
7      2022-08-13 14:00:00
8      2022-08-20 16:30:00
9      2022-08-27 16:30:00
10     2022-08-31 18:30:00
               ...
3574   2022-08-20 11:30:00
3575   2022-08-28 13:00:00
3576   2022-08-31 18:30:00
3577   2022-09-03 14:00:00
3578   2022-09-03 14:00:00
Name: game_date, Length: 1768, dtype: datetime64[ns]

In [31]:
# Engineer game season weather feature.
seasons_curr = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1]

month_to_curr_season = dict(zip(range(1,13), seasons_curr))
df_currentseason_clean['game_weather'] = df_currentseason_clean.game_date.dt.month.map(month_to_curr_season)

In [32]:
# Data Quality Check
df_currentseason_clean.game_weather.value_counts()

3    1446
4     322
Name: game_weather, dtype: int64

In [33]:
# Engineer feature to highlights games that started before 13:00 (early starts) and those that started after 13:00 (late
df_currentseason_clean['start_label'] = np.where((df_currentseason_clean['game_date'].dt.hour) < 13, 0, 1)

In [34]:
# Quality Check
df_currentseason_clean.start_label.value_counts()

1    1620
0     148
Name: start_label, dtype: int64

In [35]:
# Engineer feature to highlight the game year only.
df_currentseason_clean['year'] = df_currentseason_clean.game_date.dt.year

In [36]:
df_currentseason_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1768 entries, 6 to 3578
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   element            1768 non-null   int64
 1   fixture            1768 non-null   int64
 2   opponent_team      1768 non-null   int64
 3   total_points       1768 non-null   int64
 4   was_home           1768 non-null   bool
 5   kickoff_time       1768 non-null   object
 6   team_h_score       1768 non-null   int64
 7   team_a_score       1768 non-null   int64
 8   GW                 1768 non-null   int64
 9   minutes            1768 non-null   int64
 10  goals_scored       1768 non-null   int64
 11  assists            1768 non-null   int64
 12  clean_sheets       1768 non-null   int64
 13  goals_conceded     1768 non-null   int64
 14  own_goals          1768 non-null   int64
 15  penalties_saved    1768 non-null   int64
 16  penalties_missed   1768 non-null   int64
 17  yellow_cards       1768 non-null   int64
 18  red_cards          1768 non-null   int64
 19  saves              1768 non-null   int64
 20  bonus              1768 non-null   int64
 21  bps                1768 non-null   int64
 22  influence          1768 non-null   float64
 23  creativity         1768 non-null   float64
 24  threat             1768 non-null   float64
 25  ict_index          1768 non-null   float64
 26  value              1768 non-null   int64
 27  transfers_balance  1768 non-null   int64
 28  selected           1768 non-null   int64
 29  transfers_in       1768 non-null   int64
 30  transfers_out      1768 non-null   int64
 31  season_x           1768 non-null   object
 32  name               1768 non-null   object
 33  club_name          1768 non-null   object
 34  opp_team_name      1768 non-null   object
 35  form               1768 non-null   object
 36  position           1768 non-null   object
 37  game_date          1768 non-null   datetime64[ns]
 38  game_weather       1768 non-null   int64
 39  start_label        1768 non-null   int64
 40  year               1768 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(28), object(7)
memory usage: 568.0+ KB

Data Quality
Data quality issues are mostly divided into four:

- Completeness: do we have all of the records that we should? Do we have missing records or not? Are there specific rows, columns, or cells missing?
- Validity: we have the records, but they're not valid, i.e., they don't conform to a defined schema. A schema is a defined set of rules for data. These rules can be real-world constraints (e.g. negative height is impossible) and table-specific constraints (e.g. unique key constraints in tables).
- Accuracy: inaccurate data is wrong data that is valid. It adheres to the defined schema, but it is still incorrect.
- Consistency: inconsistent data is both valid and accurate, but there are multiple correct ways of referring to the same thing. Consistency, i.e., a standard format, in columns that represent the same data across tables and/or within tables is desired.

After assessing the data, we have the following issues:

1. Erroneous data types in the following data frames
- df_currentseason dataframe (form).
- fixtures_df_clean (kickoff_time)
2. Redundant features in all the following data frames
- df_currentseason dataframe (game_date, season_x, opponent_team, fixture, kickoff_time, element and name)
- players_df dataframe (id, squad_number)
- fixtures_df (stats, id)
3. Null values in the following data frames
- players_df dataframe (chance_of_playing_next_round, chance_of_playing_this_round, corners_and_indirect_freekicks_order, direct_freekicks_order, penalties_order)
- fixtures_df_clean (team_a_score, team_h_score)
## Data Tidiness
There are three main requirements for tidiness.

1. Each variable forms a column,
2. Each observation forms a row, and
3. Each type of observational unit forms a table.
The three above criteria's are fairly met by the dataset.

### CLEANING DATA

Issue #1:
- Erroneous data types in respective data frames

Define
- Change form feature to appropriate data type

Code

In [37]:
#Chnage 'form' feature dtype
df_currentseason_clean.form = df_currentseason_clean.form.astype(float)

fixtures_df_clean['kickoff_time'] = fixtures_df_clean['kickoff_time'].str[:-10]
fixtures_df_clean['kickoff_time'] = pd.to_datetime(fixtures_df_clean['kickoff_time'])

Issue #2:
- Redundant features in respective data frames

Define
- Create player_details data frame to save the name and total point features for prediction validation purpose
- Drop all identified redundant features in respective data frames

Code

In [38]:
#Drop features no longer needed in the dataframe
player_details = df_currentseason_clean[['name', 'total_points']]
df_currentseason_clean.drop(['game_date', 'season_x', 'opponent_team', 'fixture', 'kickoff_time', 'element', 'name'], axis=1, inplace=True)
players_df_clean.drop(['id', 'squad_number'], axis=1, inplace=True)
fixtures_df_clean.drop(['stats', 'id'], axis=1, inplace=True)

Issue #3:
- Null values in respective data frames

Define
- Fill all identified features in respective data frames

Code

In [39]:
#Cleaning the current season dataframes (null values, time series operations for dates)
players_df_clean.chance_of_playing_next_round = players_df_clean.chance_of_playing_next_round.fillna(100.0)
players_df_clean.chance_of_playing_this_round = players_df_clean.chance_of_playing_this_round.fillna(100.0)
players_df_clean.corners_and_indirect_freekicks_order = players_df_clean.corners_and_indirect_freekicks_order.fillna(0)
players_df_clean.direct_freekicks_order = players_df_clean.direct_freekicks_order.fillna(0)
players_df_clean.penalties_order = players_df_clean.penalties_order.fillna(0)
fixtures_df_clean.team_a_score = fixtures_df_clean.team_a_score.fillna(0)
fixtures_df_clean.team_h_score = fixtures_df_clean.team_h_score.fillna(0)

In [40]:
#Assign year as index
df_currentseason_clean.set_index('year', inplace=True)

df_currentseason_clean

,total_points,was_home,team_h_score,team_a_score,GW,minutes,goals_scored,assists,clean_sheets,goals_conceded,...,transfers_balance,selected,transfers_in,transfers_out,club_name,opp_team_name,form,position,game_weather,start_label
year,,,,,,,,,,,,,,,,,,,,,
2022,2,False,0,2,1,90,0,0,1,0,...,0,48303,0,0,Arsenal,Crystal Palace,2.8,2.8,3,1
2022,12,True,4,2,2,90,1,1,0,2,...,-629,65418,9001,9630,Arsenal,Leicester,2.8,2.8,3,1
2022,6,False,0,3,3,87,0,1,1,0,...,112040,216726,137326,25286,Arsenal,Bournemouth,2.8,2.8,3,1
2022,2,True,2,1,4,90,0,0,0,1,...,42760,267951,77459,34699,Arsenal,Fulham,2.8,2.8,3,1
2022,2,True,2,1,5,90,0,0,0,1,...,10781,288460,49435,38654,Arsenal,Aston Villa,2.8,2.8,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,2,False,1,0,3,90,0,0,0,1,...,5842,6801,6482,640,Wolves,Spurs,3.8,3.8,3,0
2022,2,True,1,1,4,90,0,0,0,1,...,8740,16866,11496,2756,Wolves,Newcastle,3.8,3.8,3,1
2022,3,False,0,0,5,74,0,0,1,0,...,3702,21246,6340,2638,Wolves,Bournemouth,3.8,3.8,3,1
2022,9,True,1,0,6,90,0,1,1,0,...,514,22523,3796,3282,Wolves,Southampton,3.8,3.8,4,1
2022,1,True,1,0,6,45,0,0,0,0,...,4099,4739,4642,543,Wolves,Southampton,0.5,0.5,4,1

In [42]:
#Create Next Game week fixtures
GWfixtures_df = fixtures_df_clean.loc[(fixtures_df_clean['event'] == 9)].copy()
GWfixtures_df.shape

(10, 15)

In [43]:
#Mapping away and home team and their respective strengths
home_strength= dict(zip(teams_df.id, teams_df.strength_overall_home))
away_strength= dict(zip(teams_df.id, teams_df.strength_overall_away))
GWfixtures_df['away_team'] = GWfixtures_df['team_a'].map(teams_now)
GWfixtures_df['home_team'] = GWfixtures_df['team_h'].map(teams_now)
GWfixtures_df['away_team_strength'] = GWfixtures_df['team_a'].map(away_strength)
GWfixtures_df['home_team_strength'] = GWfixtures_df['team_h'].map(home_strength)
GWfixtures_df.head(10)

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength
81,2292891,9.0,False,False,2022-10-01,0,False,False,18,0.0,1,0.0,3,4,74991,TOT,ARS,1250,1200
82,2292890,9.0,False,False,2022-10-01,0,False,False,4,0.0,3,0.0,2,2,74992,BRE,BOU,1150,1050
83,2292892,9.0,False,False,2022-10-01,0,False,False,6,0.0,7,0.0,3,3,74993,CHE,CRY,1230,1090
84,2292893,9.0,False,False,2022-10-01,0,False,False,15,0.0,9,0.0,3,2,74994,NEW,FUL,1190,1070
85,2292896,9.0,False,False,2022-10-01,0,False,False,5,0.0,12,0.0,3,5,74997,BHA,LIV,1140,1320
86,2292898,9.0,False,False,2022-10-01,0,False,False,8,0.0,17,0.0,2,2,74999,EVE,SOU,1100,1090
87,2292899,9.0,False,False,2022-10-01,0,False,False,20,0.0,19,0.0,2,3,75000,WOL,WHU,1100,1100
88,2292897,9.0,False,False,2022-10-02,0,False,False,14,0.0,13,0.0,3,5,74998,MUN,MCI,1220,1350
89,2292894,9.0,False,False,2022-10-02,0,False,False,2,0.0,11,0.0,2,2,74995,AVL,LEE,1100,1100
90,2292895,9.0,False,False,2022-10-03,0,False,False,16,0.0,10,0.0,2,2,74996,NFO,LEI,1070,1100

In [44]:
GWfixtures_df.columns

Index(['code', 'event', 'finished', 'finished_provisional', 'kickoff_time',
       'minutes', 'provisional_start_time', 'started', 'team_a',
       'team_a_score', 'team_h', 'team_h_score', 'team_h_difficulty',
       'team_a_difficulty', 'pulse_id', 'away_team', 'home_team',
       'away_team_strength', 'home_team_strength'],
      dtype='object')

In [45]:
#Create features for data analysis (player-opposition team, game week fixture difficulty index, player's club )
gw_away_players = pd.merge(players_df_clean, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_a"])
gw_away_players['player_opp'] = gw_away_players['web_name'].map(str) + '-' + gw_away_players['home_team'].map(str)
gw_home_players = pd.merge(players_df_clean, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_h"])
gw_home_players['player_opp'] = gw_home_players['web_name'].map(str) + '-' + gw_home_players['away_team'].map(str)
gw_away_players['diff'] = gw_away_players['away_team_strength'] - gw_away_players['home_team_strength']
gw_home_players['diff'] = gw_home_players['home_team_strength'] - gw_home_players['away_team_strength']
players_df_clean = gw_away_players.append(gw_home_players)
players_df_clean['player_club'] = players_df_clean['web_name'].map(str) + '-' + players_df_clean['club_name'].map(str)
players_df_clean.drop(['minutes_y'], axis=1, inplace=True)
players_df_clean.rename(columns = {'minutes_x':'minutes'}, inplace = True)
players_df_clean['ave_minutes'] = players_df_clean['minutes']/6