In [1]:
import pandas as pd


df_allseasons = pd.read_csv('cleaned_merged_seasons.csv')

df_allseasons.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_27624\2904350853.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_allseasons = pd.read_csv('cleaned_merged_seasons.csv')

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucouré,MID,NaN,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1

In [2]:
df_allseasons.drop(['Unnamed: 0', 'team_x'], axis=1, inplace=True)

In [3]:
df_allseasons.shape

(98402, 36)

In [4]:
df_allseasons.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW'],
      dtype='object')

In [5]:
df_allseasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98402 entries, 0 to 98401
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_x           98402 non-null  object
 1   name               98402 non-null  object
 2   position           98402 non-null  object
 3   assists            98402 non-null  int64
 4   bonus              98402 non-null  int64
 5   bps                98402 non-null  int64
 6   clean_sheets       98402 non-null  int64
 7   creativity         98402 non-null  float64
 8   element            98402 non-null  int64
 9   fixture            98402 non-null  int64
 10  goals_conceded     98402 non-null  int64
 11  goals_scored       98402 non-null  int64
 12  ict_index          98402 non-null  float64
 13  influence          98402 non-null  float64
 14  kickoff_time       98402 non-null  object
 15  minutes            98402 non-null  int64
 16  opponent_team      98402 non-null  int64
 17  opp_team_name      98402 non-null  object
 18  own_goals          98402 non-null  int64
 19  penalties_missed   98402 non-null  int64
 20  penalties_saved    98402 non-null  int64
 21  red_cards          98402 non-null  int64
 22  round              98402 non-null  int64
 23  saves              98402 non-null  int64
 24  selected           98402 non-null  int64
 25  team_a_score       98353 non-null  float64
 26  team_h_score       98353 non-null  float64
 27  threat             98402 non-null  float64
 28  total_points       98402 non-null  int64
 29  transfers_balance  98402 non-null  int64
 30  transfers_in       98402 non-null  int64
 31  transfers_out      98402 non-null  int64
 32  value              98402 non-null  int64
 33  was_home           98402 non-null  bool
 34  yellow_cards       98402 non-null  int64
 35  GW                 98402 non-null  int64
dtypes: bool(1), float64(6), int64(24), object(5)
memory usage: 26.4+ MB

In [6]:
df_allseasons['name_season'] = df_allseasons['name'] + '_' + df_allseasons['season_x']

In [7]:
df_allseasons.name_season

0           Aaron Cresswell_2016-17
1              Aaron Lennon_2016-17
2              Aaron Ramsey_2016-17
3        Abdoulaye Doucouré_2016-17
4              Adam Forshaw_2016-17
                    ...
98397         Wilfred Ndidi_2021-22
98398          Matt Ritchie_2021-22
98399        Nathan Redmond_2021-22
98400           Mathew Ryan_2021-22
98401       Ryan Fredericks_2021-22
Name: name_season, Length: 98402, dtype: object

In [8]:
import requests

# get yearly historic data from endpoint for available seasons and identify the keys in each disctionary using 2016 as an example
Y2016= requests.get('https://www.fantasynutmeg.com/api/history/season/2016-17').json()
Y2017= requests.get('https://www.fantasynutmeg.com/api/history/season/2017-18').json()
Y2018= requests.get('https://www.fantasynutmeg.com/api/history/season/2018-19').json()
Y2019= requests.get('https://www.fantasynutmeg.com/api/history/season/2019-20').json()
Y2020= requests.get('https://www.fantasynutmeg.com/api/history/season/2020-21').json()
Y2021= requests.get('https://www.fantasynutmeg.com/api/history/season/2021-22').json()
Y2022= requests.get('https://www.fantasynutmeg.com/api/history/season/2022-23').json()
Y2016.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [ ]:
# Hist from 16-21.
# Create a column with the First Name, Last Name and the Year.
# Combiine the name and the year of the cloned repo to match the hist data.
# Merge the two based on the First Name, Last Name and the Year.

In [9]:
hist16_df = pd.DataFrame(Y2016['history'])
hist17_df = pd.DataFrame(Y2017['history'])
hist18_df = pd.DataFrame(Y2018['history'])
hist19_df = pd.DataFrame(Y2019['history'])
hist20_df = pd.DataFrame(Y2020['history'])
hist21_df = pd.DataFrame(Y2021['history'])

In [10]:
hist16_df.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,18,100,100,0,48844,0,0,-3,...,0.0,2,3433,0,7905,0,0.0,0.4,Ospina,0
1,0,2,660,100,100,12,11334,0,0,-1,...,0.0,134,432837,0,590727,0,0.0,24.8,Cech,2
2,1,19,723,0,75,10,51507,0,0,1,...,239.0,121,965040,0,857277,0,0.0,19.8,Koscielny,4
3,0,0,5,100,100,0,17127,0,0,-2,...,0.0,1,2141,0,5912,0,0.0,0.2,Mertesacker,0
4,0,2,296,75,100,5,158074,0,0,-2,...,119.0,45,119600,0,100361,0,0.0,9.4,Gabriel,6

In [16]:
hist16_df['year'] = hist16_df.apply(lambda x: "2016-17", axis=1)
hist17_df['year'] = hist17_df.apply(lambda x: "2017-18", axis=1)
hist18_df['year'] = hist18_df.apply(lambda x: "2018-19", axis=1)
hist19_df['year'] = hist19_df.apply(lambda x: "2019-20", axis=1)
hist20_df['year'] = hist20_df.apply(lambda x: "2020-21", axis=1)
hist21_df['year'] = hist21_df.apply(lambda x: "2021-22", axis=1)

In [11]:
hist16_df.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'position', 'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code', 'team_name',
       'threat', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'yellow_cards'],
      dtype='object')

In [18]:
hist_df = [hist16_df, hist17_df, hist18_df, hist19_df, hist20_df, hist21_df]

hist = pd.concat(hist_df, axis = 0, ignore_index=True)

In [13]:
hist.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,influence_rank,influence_rank_type,threat_rank,threat_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,0,0,18,100,100,0,48844,0,0,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2,660,100,100,12,11334,0,0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,19,723,0,75,10,51507,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,5,100,100,0,17127,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2,296,75,100,5,158074,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
hist.year

0       2016-17
1       2016-17
2       2016-17
3       2016-17
4       2016-17
         ...
4065    2021-22
4066    2021-22
4067    2021-22
4068    2021-22
4069    2021-22
Name: year, Length: 4070, dtype: object

In [15]:
hist

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'position', 'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code', 'team_name',
       'threat', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'yellow_cards', 'news_added', 'creativity_rank',
       'creativity_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'influence_rank', 'influence_rank_type', 'threat_rank',
       'threat_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [27]:
hist.total_points

0         2
1       134
2       121
3         1
4        45
       ...
4065      0
4066      0
4067      0
4068      0
4069      0
Name: total_points, Length: 4070, dtype: int64

In [24]:
hist['form'] = hist['total_points']/38    # Number of gameweeks

In [26]:
hist.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'position', 'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code', 'team_name',
       'threat', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'yellow_cards', 'year', 'news_added', 'creativity_rank',
       'creativity_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'influence_rank', 'influence_rank_type', 'threat_rank',
       'threat_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'name_season'],
      dtype='object')

In [28]:
hist.name_season

0                   David Ospina_2016-17
1                      Petr Cech_2016-17
2              Laurent Koscielny_2016-17
3                Per Mertesacker_2016-17
4       Gabriel Armando de Abreu_2016-17
                      ...
4065                Adrian Blake_2021-22
4066                Jack Grieves_2021-22
4067              Joseph McGlynn_2021-22
4068             Anthony Mancini_2021-22
4069              Charlie Savage_2021-22
Name: name_season, Length: 4070, dtype: object

In [32]:
subset  = ['Mohamed Salah_2018-19']
check = hist[hist.name_season.isin(subset)]
check

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,influence_rank_type,threat_rank,threat_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,name_season
1582,12,18,687,100,75,21,118748,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mohamed Salah_2018-19

In [33]:
check.form

1582    6.815789
Name: form, dtype: float64

In [20]:
hist['name_season'] = hist['first_name'] + ' ' + hist['second_name'] + '_' + hist['year']

In [21]:
hist.name_season

0                   David Ospina_2016-17
1                      Petr Cech_2016-17
2              Laurent Koscielny_2016-17
3                Per Mertesacker_2016-17
4       Gabriel Armando de Abreu_2016-17
                      ...
4065                Adrian Blake_2021-22
4066                Jack Grieves_2021-22
4067              Joseph McGlynn_2021-22
4068             Anthony Mancini_2021-22
4069              Charlie Savage_2021-22
Name: name_season, Length: 4070, dtype: object

In [22]:
teams=dict(zip(hist.name_season, hist.team_name))

df_allseasons['club_name'] = df_allseasons['name_season'].map(teams)

In [34]:
teams=dict(zip(hist.name_season, hist.form))

df_allseasons['form'] = df_allseasons['name_season'].map(teams)

In [35]:
df_allseasons.form

0        1.578947
1        0.578947
2        1.473684
3        1.000000
4        2.026316
           ...
98397    1.078947
98398    0.526316
98399    2.078947
98400    0.000000
98401    0.184211
Name: form, Length: 98402, dtype: float64

In [38]:
subset  = ['Marcus Rashford_2020-21']
check = df_allseasons[df_allseasons.name_season.isin(subset)]
check.form

50237    4.578947
50787    4.578947
51344    4.578947
51917    4.578947
52611    4.578947
53207    4.578947
53807    4.578947
54408    4.578947
55010    4.578947
55566    4.578947
56157    4.578947
56764    4.578947
57374    4.578947
57988    4.578947
58498    4.578947
59044    4.578947
59480    4.578947
60327    4.578947
60328    4.578947
61026    4.578947
61674    4.578947
62336    4.578947
63001    4.578947
63780    4.578947
64523    4.578947
65608    4.578947
65609    4.578947
65890    4.578947
66643    4.578947
67606    4.578947
68293    4.578947
68985    4.578947
69666    4.578947
70880    4.578947
70881    4.578947
70882    4.578947
72475    4.578947
73181    4.578947
Name: form, dtype: float64

In [39]:
subset  = ['Marcus Rashford_2018-19']
check = df_allseasons[df_allseasons.name_season.isin(subset)]
check

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form
19005,2018-19,Marcus Rashford,MID,0,0,13,1,5.8,305,6,...,0,0,0,70,True,0,1,Marcus Rashford_2018-19,MUN,3.368421
19336,2018-19,Marcus Rashford,MID,0,0,0,0,1.7,305,11,...,-44522,25499,70021,70,False,0,2,Marcus Rashford_2018-19,MUN,3.368421
19669,2018-19,Marcus Rashford,MID,0,0,0,0,0.0,305,26,...,-111366,11531,122897,69,True,0,3,Marcus Rashford_2018-19,MUN,3.368421
20004,2018-19,Marcus Rashford,MID,0,0,-5,0,14.3,305,32,...,-87935,5329,93264,68,False,0,4,Marcus Rashford_2018-19,MUN,3.368421
20340,2018-19,Marcus Rashford,MID,0,0,0,0,0.0,305,49,...,-103213,3258,106471,68,False,0,5,Marcus Rashford_2018-19,MUN,3.368421
20676,2018-19,Marcus Rashford,MID,0,0,0,0,0.0,305,59,...,-27465,882,28347,67,True,0,6,Marcus Rashford_2018-19,MUN,3.368421
21013,2018-19,Marcus Rashford,MID,0,0,27,0,7.0,305,69,...,-10580,1724,12304,67,False,0,7,Marcus Rashford_2018-19,MUN,3.368421
21351,2018-19,Marcus Rashford,MID,0,0,-5,0,5.3,305,77,...,1775,6039,4264,67,True,0,8,Marcus Rashford_2018-19,MUN,3.368421
21693,2018-19,Marcus Rashford,MID,1,0,15,0,13.5,305,84,...,-2483,5961,8444,67,False,0,9,Marcus Rashford_2018-19,MUN,3.368421
22036,2018-19,Marcus Rashford,MID,0,0,-2,1,3.0,305,97,...,7466,13553,6087,67,True,0,10,Marcus Rashford_2018-19,MUN,3.368421
22380,2018-19,Marcus Rashford,MID,0,1,22,0,21.8,305,102,...,10466,18703,8237,67,False,1,11,Marcus Rashford_2018-19,MUN,3.368421
22726,2018-19,Marcus Rashford,MID,0,0,5,0,10.7,305,118,...,4854,14603,9749,67,False,0,12,Marcus Rashford_2018-19,MUN,3.368421
23072,2018-19,Marcus Rashford,MID,0,0,3,0,2.8,305,126,...,8787,21033,12246,67,True,0,13,Marcus Rashford_2018-19,MUN,3.368421
23418,2018-19,Marcus Rashford,MID,2,0,28,0,52.4,305,140,...,-3560,6980,10540,67,False,1,14,Marcus Rashford_2018-19,MUN,3.368421
23765,2018-19,Marcus Rashford,MID,0,0,8,0,32.6,305,145,...,4627,11751,7124,67,True,0,15,Marcus Rashford_2018-19,MUN,3.368421
24113,2018-19,Marcus Rashford,MID,2,2,46,0,35.2,305,158,...,49879,56909,7030,68,True,0,16,Marcus Rashford_2018-19,MUN,3.368421
24461,2018-19,Marcus Rashford,MID,0,0,8,0,1.3,305,165,...,129632,144712,15080,69,False,0,17,Marcus Rashford_2018-19,MUN,3.368421
24811,2018-19,Marcus Rashford,MID,0,0,21,0,14.3,305,173,...,120551,139468,18917,69,False,0,18,Marcus Rashford_2018-19,MUN,3.368421
25162,2018-19,Marcus Rashford,MID,0,0,5,0,42.0,305,187,...,417533,429302,11769,71,True,0,19,Marcus Rashford_2018-19,MUN,3.368421
25514,2018-19,Marcus Rashford,MID,1,2,39,0,14.6,305,197,...,145587,188218,42631,72,True,0,20,Marcus Rashford_2018-19,MUN,3.368421
25866,2018-19,Marcus Rashford,MID,1,3,38,1,15.3,305,208,...,-44252,120424,164676,72,False,0,21,Marcus Rashford_2018-19,MUN,3.368421
26219,2018-19,Marcus Rashford,MID,0,1,30,1,2.7,305,219,...,206954,283033,76079,73,False,0,22,Marcus Rashford_2018-19,MUN,3.368421
26573,2018-19,Marcus Rashford,MID,0,3,33,0,20.7,305,226,...,828340,843341,15001,76,True,1,23,Marcus Rashford_2018-19,MUN,3.368421
26929,2018-19,Marcus Rashford,MID,0,0,-1,0,23.4,305,235,...,256346,270951,14605,77,True,0,24,Marcus Rashford_2018-19,MUN,3.368421
27311,2018-19,Marcus Rashford,MID,0,1,28,1,6.3,305,247,...,-10634,65570,76204,77,False,0,25,Marcus Rashford_2018-19,MUN,3.368421
27687,2018-19,Marcus Rashford,MID,0,0,0,0,0.0,305,253,...,111021,144231,33210,78,False,0,26,Marcus Rashford_2018-19,MUN,3.368421
28000,2018-19,Marcus Rashford,MID,0,0,0,1,11.0,305,268,...,-64991,56762,121753,78,True,0,27,Marcus Rashford_2018-19,MUN,3.368421
28334,2018-19,Marcus Rashford,MID,0,0,3,0,1.1,305,273,...,-532200,9319,541519,77,False,0,28,Marcus Rashford_2018-19,MUN,3.368421
28699,2018-19,Marcus Rashford,MID,0,0,-3,0,2.0,305,286,...,-18837,85412,104249,77,True,0,29,Marcus Rashford_2018-19,MUN,3.368421
29064,2018-19,Marcus Rashford,MID,0,0,6,0,36.8,305,291,...,-97838,38745,136583,77,False,0,30,Marcus Rashford_2018-19,MUN,3.368421
29720,2018-19,Marcus Rashford,MID,0,1,24,0,15.5,305,319,...,-6717,130371,137088,76,True,0,32,Marcus Rashford_2018-19,MUN,3.368421
29721,2018-19,Marcus Rashford,MID,0,0,0,0,0.0,305,330,...,-6717,130371,137088,76,False,0,32,Marcus Rashford_2018-19,MUN,3.368421
30400,2018-19,Marcus Rashford,MID,0,0,-1,0,2.4,305,337,...,-11942,77132,89074,74,True,0,34,Marcus Rashford_2018-19,MUN,3.368421
30873,2018-19,Marcus Rashford,MID,0,0,3,0,4.6,305,345,...,28586,93058,64472,74,False,0,35,Marcus Rashford_2018-19,MUN,3.368421
30874,2018-19,Marcus Rashford,MID,0,0,9,0,25.1,305,306,...,28586,93058,64472,74,True,0,35,Marcus Rashford_2018-19,MUN,3.368421
31306,2018-19,Marcus Rashford,MID,0,0,5,0,3.3,305,357,...,-80774,21293,102067,74,True,0,36,Marcus Rashford_2018-19,MUN,3.368421
31675,2018-19,Marcus Rashford,MID,0,0,13,0,34.3,305,366,...,-84217,62057,146274,73,False,0,37,Marcus Rashford_2018-19,MUN,3.368421
32046,2018-19,Marcus Rashford,MID,0,0,10,0,59.5,305,377,...,33385,98985,65600,73,True,0,38,Marcus Rashford_2018-19,MUN,3.368421

In [45]:
df_allseasons.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW', 'name_season', 'club_name', 'form'],
      dtype='object')

In [50]:
df_allseasons.dropna(how='all')

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form
0,2016-17,Aaron Cresswell,DEF,0,0,0,0,0.0,454,10,...,0,0,0,55,False,0,1,Aaron Cresswell_2016-17,WHU,1.578947
1,2016-17,Aaron Lennon,MID,0,0,6,0,0.3,142,3,...,0,0,0,60,True,0,1,Aaron Lennon_2016-17,EVE,0.578947
2,2016-17,Aaron Ramsey,MID,0,0,5,0,4.9,16,8,...,0,0,0,80,True,0,1,Aaron Ramsey_2016-17,ARS,1.473684
3,2016-17,Abdoulaye Doucouré,MID,0,0,0,0,0.0,482,7,...,0,0,0,50,False,0,1,Abdoulaye Doucouré_2016-17,WAT,1.000000
4,2016-17,Adam Forshaw,MID,0,0,3,0,1.3,286,6,...,0,0,0,45,True,1,1,Adam Forshaw_2016-17,MID,2.026316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98397,2021-22,Wilfred Ndidi,MID,0,0,0,0,0.0,216,377,...,-202,22,224,48,True,0,38,Wilfred Ndidi_2021-22,LEI,1.078947
98398,2021-22,Matt Ritchie,DEF,0,0,3,0,0.0,292,374,...,143,396,253,49,False,0,38,Matt Ritchie_2021-22,NEW,0.526316
98399,2021-22,Nathan Redmond,MID,0,0,5,0,0.0,336,377,...,455,683,228,59,False,0,38,Nathan Redmond_2021-22,SOU,2.078947
98400,2021-22,Mathew Ryan,GK,0,0,0,0,0.0,65,373,...,-2,0,2,45,True,0,38,Mathew Ryan_2021-22,BHA,0.000000
98401,2021-22,Ryan Fredericks,DEF,0,0,0,0,0.0,415,373,...,36,103,67,44,False,0,38,Ryan Fredericks_2021-22,WHU,0.184211

In [24]:
df_allseasons.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW', 'name_season', 'club_name'],
      dtype='object')

In [61]:
df_allseasons.position

0        DEF
1        MID
2        MID
3        MID
4        MID
        ...
98397    MID
98398    DEF
98399    MID
98400     GK
98401    DEF
Name: position, Length: 98402, dtype: object

for every player at a certain time, we want to pick the date, we want to figure out how many fixtures the club has played over the last 30 days

In [46]:
#get current season data from FPL API endpoints and identify the keys
fpl_base_url = 'https://fantasy.premierleague.com/api/'
current_season = requests.get(fpl_base_url+'bootstrap-static/').json()
#json = r.json()
current_season.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [47]:
#create dataframes for the current season dictionary keys for data exploration
#- Contains summary of Gameweek data
events_df = pd.DataFrame(current_season['events']) #
phases_df = pd.DataFrame(current_season['phases']) #Shows calendar months for game weeks
teams_df = pd.DataFrame(current_season['teams'])
players_df = pd.DataFrame(current_season['elements'])
element_stats_df = pd.DataFrame(current_season['element_stats'])
element_types_df = pd.DataFrame(current_season['element_types'])

In [53]:
players_df.head(80)

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,NaN,58822,0,0,-3,3,0,2,0.5,...,389,151,460,180,5.0,,3.0,,NaN,
1,NaN,NaN,84450,0,0,0,0,1,3,5.3,...,65,43,36,27,NaN,,NaN,,NaN,
2,0.0,0.0,153256,-1,1,-2,2,0,3,0.0,...,398,158,359,161,NaN,,NaN,,NaN,
3,NaN,NaN,156074,0,0,-2,2,0,2,0.9,...,400,160,378,137,NaN,,NaN,,NaN,
4,0.0,0.0,167199,0,0,-1,1,0,3,0.0,...,135,76,230,108,NaN,,4.0,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,NaN,NaN,229600,0,0,0,0,0,1,0.8,...,508,47,241,15,NaN,,NaN,,NaN,
76,100.0,100.0,235530,0,0,0,0,1,2,3.3,...,292,99,137,35,NaN,,NaN,,NaN,
77,NaN,NaN,244085,0,0,-2,2,0,3,-0.5,...,557,233,577,242,NaN,,NaN,,NaN,
78,NaN,NaN,444180,0,0,-2,2,0,3,1.3,...,213,112,259,118,3.0,,NaN,,NaN,
79,100.0,100.0,447932,0,0,-1,1,0,2,1.2,...,253,76,240,80,NaN,,NaN,,NaN,

In [59]:
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [49]:
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [51]:
#get current season fixtures from FPL API endpoint and create Dataframe

current_season_fixtures = requests.get(fpl_base_url+'fixtures/').json()
fixtures_df = pd.DataFrame(current_season_fixtures)
fixtures_df.head()

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914
2,2292811,1,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
3,2292814,1,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
4,2292816,1,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,74917

In [52]:
df_allseasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98402 entries, 0 to 98401
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_x           98402 non-null  object
 1   name               98402 non-null  object
 2   position           98402 non-null  object
 3   assists            98402 non-null  int64
 4   bonus              98402 non-null  int64
 5   bps                98402 non-null  int64
 6   clean_sheets       98402 non-null  int64
 7   creativity         98402 non-null  float64
 8   element            98402 non-null  int64
 9   fixture            98402 non-null  int64
 10  goals_conceded     98402 non-null  int64
 11  goals_scored       98402 non-null  int64
 12  ict_index          98402 non-null  float64
 13  influence          98402 non-null  float64
 14  kickoff_time       98402 non-null  object
 15  minutes            98402 non-null  int64
 16  opponent_team      98402 non-null  int64
 17  opp_team_name      98402 non-null  object
 18  own_goals          98402 non-null  int64
 19  penalties_missed   98402 non-null  int64
 20  penalties_saved    98402 non-null  int64
 21  red_cards          98402 non-null  int64
 22  round              98402 non-null  int64
 23  saves              98402 non-null  int64
 24  selected           98402 non-null  int64
 25  team_a_score       98353 non-null  float64
 26  team_h_score       98353 non-null  float64
 27  threat             98402 non-null  float64
 28  total_points       98402 non-null  int64
 29  transfers_balance  98402 non-null  int64
 30  transfers_in       98402 non-null  int64
 31  transfers_out      98402 non-null  int64
 32  value              98402 non-null  int64
 33  was_home           98402 non-null  bool
 34  yellow_cards       98402 non-null  int64
 35  GW                 98402 non-null  int64
 36  name_season        98402 non-null  object
 37  club_name          98364 non-null  object
 38  form               98364 non-null  float64
dtypes: bool(1), float64(7), int64(24), object(7)
memory usage: 28.6+ MB

In [ ]:
players_df