### ACCESSING DATA

#### Data Quality and Tidiness Issues

In [1]:
import pandas as pd


df_allseasons = pd.read_csv('cleaned_merged_seasons.csv')

df_allseasons.head()

/home/laniolao/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucouré,MID,NaN,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1

### CLEANING DATA

In [60]:
# Make a copy of the original piece of data.
df_allseasons_clean = df_allseasons.copy()

In [61]:
df_allseasons_clean.drop(['Unnamed: 0', 'team_x'], axis=1, inplace=True)

In [62]:
df_allseasons_clean['name_season'] = df_allseasons_clean['name'] + '_' + df_allseasons_clean['season_x']

In [63]:
df_allseasons_clean.name_season

0           Aaron Cresswell_2016-17
1              Aaron Lennon_2016-17
2              Aaron Ramsey_2016-17
3        Abdoulaye Doucouré_2016-17
4              Adam Forshaw_2016-17
                    ...
98397         Wilfred Ndidi_2021-22
98398          Matt Ritchie_2021-22
98399        Nathan Redmond_2021-22
98400           Mathew Ryan_2021-22
98401       Ryan Fredericks_2021-22
Name: name_season, Length: 98402, dtype: object

In [64]:
import requests

# get yearly historic data from endpoint for available seasons and identify the keys in each disctionary using 2016 as an example
Y2016= requests.get('https://www.fantasynutmeg.com/api/history/season/2016-17').json()
Y2017= requests.get('https://www.fantasynutmeg.com/api/history/season/2017-18').json()
Y2018= requests.get('https://www.fantasynutmeg.com/api/history/season/2018-19').json()
Y2019= requests.get('https://www.fantasynutmeg.com/api/history/season/2019-20').json()
Y2020= requests.get('https://www.fantasynutmeg.com/api/history/season/2020-21').json()
Y2021= requests.get('https://www.fantasynutmeg.com/api/history/season/2021-22').json()
Y2022= requests.get('https://www.fantasynutmeg.com/api/history/season/2022-23').json()
Y2016.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

Hist from 16-21.
Create a column with the First Name, Last Name and the Year.
Combiine the name and the year of the cloned repo to match the hist data.
Merge the two based on the First Name, Last Name and the Year.

In [65]:
hist16_df = pd.DataFrame(Y2016['history'])
hist17_df = pd.DataFrame(Y2017['history'])
hist18_df = pd.DataFrame(Y2018['history'])
hist19_df = pd.DataFrame(Y2019['history'])
hist20_df = pd.DataFrame(Y2020['history'])
hist21_df = pd.DataFrame(Y2021['history'])

In [66]:
hist16_df['year'] = hist16_df.apply(lambda x: "2016-17", axis=1)
hist17_df['year'] = hist17_df.apply(lambda x: "2017-18", axis=1)
hist18_df['year'] = hist18_df.apply(lambda x: "2018-19", axis=1)
hist19_df['year'] = hist19_df.apply(lambda x: "2019-20", axis=1)
hist20_df['year'] = hist20_df.apply(lambda x: "2020-21", axis=1)
hist21_df['year'] = hist21_df.apply(lambda x: "2021-22", axis=1)

In [67]:
hist_df = [hist16_df, hist17_df, hist18_df, hist19_df, hist20_df, hist21_df]

hist = pd.concat(hist_df, axis = 0, ignore_index=True)

In [68]:
hist.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,influence_rank,influence_rank_type,threat_rank,threat_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,0,0,18,100,100,0,48844,0,0,-3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2,660,100,100,12,11334,0,0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,19,723,0,75,10,51507,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,5,100,100,0,17127,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2,296,75,100,5,158074,0,0,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
hist['form'] = hist['total_points']/38    # Number of gameweeks

In [70]:
hist.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'position', 'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code', 'team_name',
       'threat', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'yellow_cards', 'year', 'news_added', 'creativity_rank',
       'creativity_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'influence_rank', 'influence_rank_type', 'threat_rank',
       'threat_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [71]:
hist['name_season'] = hist['first_name'] + ' ' + hist['second_name'] + '_' + hist['year']

In [72]:
hist.name_season

0                   David Ospina_2016-17
1                      Petr Cech_2016-17
2              Laurent Koscielny_2016-17
3                Per Mertesacker_2016-17
4       Gabriel Armando de Abreu_2016-17
                      ...
4065                Adrian Blake_2021-22
4066                Jack Grieves_2021-22
4067              Joseph McGlynn_2021-22
4068             Anthony Mancini_2021-22
4069              Charlie Savage_2021-22
Name: name_season, Length: 4070, dtype: object

In [73]:
subset  = ['Mohamed Salah_2018-19']
check = hist[hist.name_season.isin(subset)]
check.form

1582    6.815789
Name: form, dtype: float64

In [74]:
teams=dict(zip(hist.name_season, hist.team_name))

df_allseasons_clean['club_name'] = df_allseasons_clean['name_season'].map(teams)

In [75]:
teams=dict(zip(hist.name_season, hist.form))

df_allseasons_clean['form'] = df_allseasons_clean['name_season'].map(teams)

In [76]:
subset  = ['Marcus Rashford_2020-21']
check = df_allseasons_clean[df_allseasons_clean.name_season.isin(subset)]
check.form

50237    4.578947
50787    4.578947
51344    4.578947
51917    4.578947
52611    4.578947
53207    4.578947
53807    4.578947
54408    4.578947
55010    4.578947
55566    4.578947
56157    4.578947
56764    4.578947
57374    4.578947
57988    4.578947
58498    4.578947
59044    4.578947
59480    4.578947
60327    4.578947
60328    4.578947
61026    4.578947
61674    4.578947
62336    4.578947
63001    4.578947
63780    4.578947
64523    4.578947
65608    4.578947
65609    4.578947
65890    4.578947
66643    4.578947
67606    4.578947
68293    4.578947
68985    4.578947
69666    4.578947
70880    4.578947
70881    4.578947
70882    4.578947
72475    4.578947
73181    4.578947
Name: form, dtype: float64

In [77]:
df_allseasons_clean.columns

Index(['season_x', 'name', 'position', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW', 'name_season', 'club_name', 'form'],
      dtype='object')

In [82]:
df_allseasons_clean[df_allseasons_clean.minutes == 0]

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form
0,2016-17,Aaron Cresswell,DEF,0,0,0,0,0.0,454,10,...,0,0,0,55,False,0,1,Aaron Cresswell_2016-17,WHU,1.578947
3,2016-17,Abdoulaye Doucouré,MID,0,0,0,0,0.0,482,7,...,0,0,0,50,False,0,1,Abdoulaye Doucouré_2016-17,WAT,1.000000
8,2016-17,Alex McCarthy,GK,0,0,0,0,0.0,101,7,...,0,0,0,45,True,0,1,Alex McCarthy_2016-17,SOU,0.000000
10,2016-17,Andreas Pereira,MID,0,0,0,0,0.0,263,9,...,0,0,0,45,False,0,1,Andreas Pereira_2016-17,MUN,0.000000
15,2016-17,Angelo Ogbonna,DEF,0,0,0,0,0.0,456,10,...,0,0,0,50,False,0,1,Angelo Ogbonna_2016-17,WHU,1.184211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98393,2021-22,Jack Grieves,FWD,0,0,0,0,0.0,734,375,...,4094,5073,979,45,False,0,38,Jack Grieves_2021-22,WAT,0.000000
98396,2021-22,Josh Martin,MID,0,0,0,0,0.0,330,380,...,0,0,0,50,True,0,38,Josh Martin_2021-22,NOR,0.000000
98397,2021-22,Wilfred Ndidi,MID,0,0,0,0,0.0,216,377,...,-202,22,224,48,True,0,38,Wilfred Ndidi_2021-22,LEI,1.078947
98400,2021-22,Mathew Ryan,GK,0,0,0,0,0.0,65,373,...,-2,0,2,45,True,0,38,Mathew Ryan_2021-22,BHA,0.000000
98401,2021-22,Ryan Fredericks,DEF,0,0,0,0,0.0,415,373,...,36,103,67,44,False,0,38,Ryan Fredericks_2021-22,WHU,0.184211

In [83]:
zero_minutes = df_allseasons_clean[df_allseasons_clean.minutes == 0].index

In [84]:
df_allseasons_clean.drop(zero_minutes, axis = 0, inplace=True)

In [85]:
df_allseasons_clean.drop(['round'], axis=1, inplace=True)

In [86]:
df_allseasons_clean.kickoff_time

1        2016-08-13T14:00:00Z
2        2016-08-14T15:00:00Z
4        2016-08-13T14:00:00Z
5        2016-08-14T15:00:00Z
6        2016-08-15T19:00:00Z
                 ...
98392    2022-05-22T15:00:00Z
98394    2022-05-22T15:00:00Z
98395    2022-05-22T15:00:00Z
98398    2022-05-22T15:00:00Z
98399    2022-05-22T15:00:00Z
Name: kickoff_time, Length: 49231, dtype: object

In [87]:
df_allseasons_clean['game_date'] = df_allseasons_clean['kickoff_time'].str.replace('T', ' ')
df_allseasons_clean['game_date'] = df_allseasons_clean['game_date'].str.replace(':00Z', '')

In [88]:
df_allseasons_clean['game_date'] = pd.to_datetime(df_allseasons_clean['game_date'])

In [89]:
df_allseasons_clean.game_date

1       2016-08-13 14:00:00
2       2016-08-14 15:00:00
4       2016-08-13 14:00:00
5       2016-08-14 15:00:00
6       2016-08-15 19:00:00
                ...
98392   2022-05-22 15:00:00
98394   2022-05-22 15:00:00
98395   2022-05-22 15:00:00
98398   2022-05-22 15:00:00
98399   2022-05-22 15:00:00
Name: game_date, Length: 49231, dtype: datetime64[ns]

In [90]:
seasons = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1]

month_to_season = dict(zip(range(1,13), seasons))
month_to_season

{1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 3, 7: 3, 8: 3, 9: 4, 10: 4, 11: 4, 12: 1}

In [91]:
df_allseasons_clean['game_weather'] = df_allseasons_clean.game_date.dt.month.map(month_to_season)

In [92]:
df_allseasons_clean.game_weather.value_counts()

1    18277
4    12980
2    12248
3     5726
Name: game_weather, dtype: int64

In [93]:
df_allseasons_clean.game_date.value_counts()

2022-05-22 15:00:00    280
2021-05-23 15:00:00    278
2020-07-26 15:00:00    275
2019-05-12 14:00:00    207
2018-05-13 14:00:00    175
                      ...
2016-12-05 20:00:00      7
2016-12-10 12:30:00      7
2016-11-27 12:00:00      6
2016-10-16 12:30:00      6
2016-08-21 12:30:00      3
Name: game_date, Length: 1427, dtype: int64

In [94]:
df_allseasons_clean.game_date.dt.hour.value_counts()

15    10796
14     9845
19     6339
20     4359
16     4165
17     3741
12     3266
11     2365
18     2189
13     2166
Name: game_date, dtype: int64

In [95]:
import numpy as np
df_allseasons_clean['start_label'] = np.where((df_allseasons_clean['game_date'].dt.hour) < 13, 0, 1)

In [96]:
df_allseasons_clean.start_label.value_counts()

1    43600
0     5631
Name: start_label, dtype: int64

In [97]:
df_allseasons_clean[['game_date', 'start_label']].head(50)

             game_date  start_label
1  2016-08-13 14:00:00            1
2  2016-08-14 15:00:00            1
4  2016-08-13 14:00:00            1
5  2016-08-14 15:00:00            1
6  2016-08-15 19:00:00            1
7  2016-08-14 15:00:00            1
9  2016-08-14 15:00:00            1
11 2016-08-13 11:30:00            0
12 2016-08-13 14:00:00            1
13 2016-08-13 14:00:00            1
14 2016-08-15 19:00:00            1
16 2016-08-14 12:30:00            0
17 2016-08-15 19:00:00            1
20 2016-08-13 14:00:00            1
23 2016-08-13 14:00:00            1
24 2016-08-13 14:00:00            1
25 2016-08-13 14:00:00            1
26 2016-08-15 19:00:00            1
27 2016-08-14 12:30:00            0
28 2016-08-14 15:00:00            1
30 2016-08-13 14:00:00            1
31 2016-08-15 19:00:00            1
33 2016-08-13 14:00:00            1
34 2016-08-13 11:30:00            0
37 2016-08-13 14:00:00            1
38 2016-08-13 14:00:00            1
39 2016-08-13 14:00:00            1
40 2016-08-13 14:00:00            1
41 2016-08-15 19:00:00            1
42 2016-08-13 11:30:00            0
44 2016-08-13 14:00:00            1
48 2016-08-14 12:30:00            0
50 2016-08-13 11:30:00            0
51 2016-08-14 15:00:00            1
52 2016-08-13 11:30:00            0
53 2016-08-14 12:30:00            0
54 2016-08-13 14:00:00            1
55 2016-08-13 14:00:00            1
56 2016-08-13 14:00:00            1
57 2016-08-13 16:30:00            1
58 2016-08-13 14:00:00            1
59 2016-08-13 16:30:00            1
60 2016-08-13 14:00:00            1
61 2016-08-15 19:00:00            1
62 2016-08-14 15:00:00            1
63 2016-08-14 15:00:00            1
64 2016-08-13 14:00:00            1
66 2016-08-13 14:00:00            1
70 2016-08-13 14:00:00            1
71 2016-08-14 15:00:00            1

In [98]:
df_allseasons_clean.drop(['game_date'], axis=1, inplace=True)

df_allseasons_clean

,season_x,name,position,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,transfers_out,value,was_home,yellow_cards,GW,name_season,club_name,form,game_weather,start_label
1,2016-17,Aaron Lennon,MID,0,0,6,0,0.3,142,3,...,0,60,True,0,1,Aaron Lennon_2016-17,EVE,0.578947,3,1
2,2016-17,Aaron Ramsey,MID,0,0,5,0,4.9,16,8,...,0,80,True,0,1,Aaron Ramsey_2016-17,ARS,1.473684,3,1
4,2016-17,Adam Forshaw,MID,0,0,3,0,1.3,286,6,...,0,45,True,1,1,Adam Forshaw_2016-17,MID,2.026316,3,1
5,2016-17,Adam Lallana,MID,1,2,33,0,33.7,205,8,...,0,70,False,1,1,Adam Lallana_2016-17,LIV,3.657895,3,1
6,2016-17,Adrián San Miguel del Castillo,GK,0,0,16,0,0.0,450,10,...,0,50,False,0,1,Adrián San Miguel del Castillo_2016-17,WHU,1.684211,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98392,2021-22,John Ruddy,GK,0,0,11,0,0.0,452,378,...,120,43,False,0,38,John Ruddy_2021-22,WOL,0.078947,2,1
98394,2021-22,Mohammed Salisu,DEF,0,0,13,0,0.0,351,377,...,529,45,False,0,38,Mohammed Salisu_2021-22,SOU,1.526316,2,1
98395,2021-22,N'Golo Kanté,MID,0,0,12,0,0.0,130,375,...,2468,49,True,0,38,N'Golo Kanté_2021-22,CHE,2.078947,2,1
98398,2021-22,Matt Ritchie,DEF,0,0,3,0,0.0,292,374,...,253,49,False,0,38,Matt Ritchie_2021-22,NEW,0.526316,2,1
98399,2021-22,Nathan Redmond,MID,0,0,5,0,0.0,336,377,...,228,59,False,0,38,Nathan Redmond_2021-22,SOU,2.078947,2,1

In [99]:
df_allseasons_clean.drop(['name_season', 'season_x', 'name', 'opponent_team', 'fixture', 'kickoff_time'], axis=1, inplace=True)

df_allseasons_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49231 entries, 1 to 98399
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   position           49231 non-null  object
 1   assists            49231 non-null  int64
 2   bonus              49231 non-null  int64
 3   bps                49231 non-null  int64
 4   clean_sheets       49231 non-null  int64
 5   creativity         49231 non-null  float64
 6   element            49231 non-null  int64
 7   goals_conceded     49231 non-null  int64
 8   goals_scored       49231 non-null  int64
 9   ict_index          49231 non-null  float64
 10  influence          49231 non-null  float64
 11  minutes            49231 non-null  int64
 12  opp_team_name      49231 non-null  object
 13  own_goals          49231 non-null  int64
 14  penalties_missed   49231 non-null  int64
 15  penalties_saved    49231 non-null  int64
 16  red_cards          49231 non-null  int64
 17  saves              49231 non-null  int64
 18  selected           49231 non-null  int64
 19  team_a_score       49231 non-null  float64
 20  team_h_score       49231 non-null  float64
 21  threat             49231 non-null  float64
 22  total_points       49231 non-null  int64
 23  transfers_balance  49231 non-null  int64
 24  transfers_in       49231 non-null  int64
 25  transfers_out      49231 non-null  int64
 26  value              49231 non-null  int64
 27  was_home           49231 non-null  bool
 28  yellow_cards       49231 non-null  int64
 29  GW                 49231 non-null  int64
 30  club_name          49194 non-null  object
 31  form               49194 non-null  float64
 32  game_weather       49231 non-null  int64
 33  start_label        49231 non-null  int64
dtypes: bool(1), float64(7), int64(23), object(3)
memory usage: 12.8+ MB

In [100]:
# df_allseasons["club_name"].replace({"WHU": "West Ham", "EVE": "Everton", "ARS": "Arsenal", "WAT": "Watford", "MID": "Middlesbrough",
# "LIV": "Liverpool", "SOU": "Southampton", "MUN": "Man Utd", "HUL": "Hull", "BUR": "Burnley", "CRY": "Crystal Palace", "TOT": "Spurs",
# "LEI": "Leicester", "WBA": "West Brom", "CHE": "Chelsea", "BOU": "Bournemouth", "STK": "Stoke",
# "MCI": "Man City", "SWA": "Swansea", "SUN": "Sunderland", "HUD": "Huddersfield", "BHA": "Brighton",
# "NEW": "Newcastle", "FUL": "Fulham", "WOL": "Wolves", "CAR": "Cardiff", "AVL": "Aston Villa",
# "NOR": "Norwich", "SHU": "Sheffield Utd", "LEE": "Leeds", "BRE": "Brentford"}, inplace=True)

In [101]:
df_allseasons_clean.isna().sum()

position              0
assists               0
bonus                 0
bps                   0
clean_sheets          0
creativity            0
element               0
goals_conceded        0
goals_scored          0
ict_index             0
influence             0
minutes               0
opp_team_name         0
own_goals             0
penalties_missed      0
penalties_saved       0
red_cards             0
saves                 0
selected              0
team_a_score          0
team_h_score          0
threat                0
total_points          0
transfers_balance     0
transfers_in          0
transfers_out         0
value                 0
was_home              0
yellow_cards          0
GW                    0
club_name            37
form                 37
game_weather          0
start_label           0
dtype: int64

In [102]:
df_allseasons_clean.dropna(inplace=True)

In [103]:
# position
# opp_team_name
# club_name
# was_home

In [104]:
df_allseasons_clean.position = df_allseasons_clean.position.astype(str)
df_allseasons_clean.opp_team_name = df_allseasons_clean.opp_team_name.astype(str)
df_allseasons_clean.club_name = df_allseasons_clean.club_name.astype(str)
df_allseasons_clean.was_home = df_allseasons_clean.was_home.astype(str)

In [105]:
df_allseasons_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49194 entries, 1 to 98399
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   position           49194 non-null  object
 1   assists            49194 non-null  int64
 2   bonus              49194 non-null  int64
 3   bps                49194 non-null  int64
 4   clean_sheets       49194 non-null  int64
 5   creativity         49194 non-null  float64
 6   element            49194 non-null  int64
 7   goals_conceded     49194 non-null  int64
 8   goals_scored       49194 non-null  int64
 9   ict_index          49194 non-null  float64
 10  influence          49194 non-null  float64
 11  minutes            49194 non-null  int64
 12  opp_team_name      49194 non-null  object
 13  own_goals          49194 non-null  int64
 14  penalties_missed   49194 non-null  int64
 15  penalties_saved    49194 non-null  int64
 16  red_cards          49194 non-null  int64
 17  saves              49194 non-null  int64
 18  selected           49194 non-null  int64
 19  team_a_score       49194 non-null  float64
 20  team_h_score       49194 non-null  float64
 21  threat             49194 non-null  float64
 22  total_points       49194 non-null  int64
 23  transfers_balance  49194 non-null  int64
 24  transfers_in       49194 non-null  int64
 25  transfers_out      49194 non-null  int64
 26  value              49194 non-null  int64
 27  was_home           49194 non-null  object
 28  yellow_cards       49194 non-null  int64
 29  GW                 49194 non-null  int64
 30  club_name          49194 non-null  object
 31  form               49194 non-null  float64
 32  game_weather       49194 non-null  int64
 33  start_label        49194 non-null  int64
dtypes: float64(7), int64(23), object(4)
memory usage: 13.1+ MB

In [106]:
# Seperating the features from the target
features = df_allseasons_clean.drop('total_points', axis=1)
target = df_allseasons_clean['total_points']

In [111]:
features_dict = features.to_dict(orient='records')

In [112]:
# DictVectorizer
from sklearn.feature_extraction import DictVectorizer

# instantiate a Dictvectorizer object for X

dv = DictVectorizer(sparse=False) 

# sparse = False makes the output is not a sparse matrix

features_encoded = dv.fit_transform(features_dict)

In [116]:
# vocabulary
vocab = dv.vocabulary_
# show vocab
vocab

{'position=MID': 82,
 'assists': 1,
 'bonus': 2,
 'bps': 3,
 'clean_sheets': 4,
 'creativity': 36,
 'element': 37,
 'goals_conceded': 40,
 'goals_scored': 41,
 'ict_index': 42,
 'influence': 43,
 'minutes': 44,
 'opp_team_name=Spurs': 68,
 'own_goals': 76,
 'penalties_missed': 77,
 'penalties_saved': 78,
 'red_cards': 83,
 'saves': 84,
 'selected': 85,
 'team_a_score': 87,
 'team_h_score': 88,
 'threat': 89,
 'transfers_balance': 90,
 'transfers_in': 91,
 'transfers_out': 92,
 'value': 93,
 'was_home=True': 95,
 'yellow_cards': 96,
 'GW': 0,
 'club_name=EVE': 14,
 'form': 38,
 'game_weather': 39,
 'start_label': 86,
 'opp_team_name=Liverpool': 60,
 'club_name=ARS': 5,
 'opp_team_name=Stoke': 69,
 'club_name=MID': 22,
 'opp_team_name=Arsenal': 45,
 'was_home=False': 94,
 'club_name=LIV': 20,
 'position=GK': 81,
 'opp_team_name=Chelsea': 52,
 'club_name=WHU': 34,
 'position=DEF': 79,
 'opp_team_name=Leicester': 59,
 'club_name=HUL': 17,
 'position=FWD': 80,
 'opp_team_name=Swansea': 71,
 'club_name=BUR': 10,
 'opp_team_name=West Brom': 73,
 'club_name=CRY': 13,
 'opp_team_name=Bournemouth': 47,
 'club_name=MUN': 23,
 'opp_team_name=Everton': 54,
 'club_name=TOT': 31,
 'opp_team_name=Crystal Palace': 53,
 'club_name=WBA': 33,
 'opp_team_name=West Ham': 74,
 'club_name=CHE': 12,
 'opp_team_name=Man Utd': 62,
 'club_name=BOU': 8,
 'opp_team_name=Watford': 72,
 'club_name=SOU': 27,
 'opp_team_name=Hull': 57,
 'club_name=LEI': 19,
 'opp_team_name=Southampton': 67,
 'club_name=WAT': 32,
 'opp_team_name=Middlesbrough': 63,
 'club_name=STK': 28,
 'opp_team_name=Sunderland': 70,
 'club_name=MCI': 21,
 'opp_team_name=Burnley': 50,
 'club_name=SWA': 30,
 'opp_team_name=Man City': 61,
 'club_name=SUN': 29,
 'club_name=HUD': 16,
 'opp_team_name=Huddersfield': 56,
 'club_name=BHA': 7,
 'club_name=NEW': 24,
 'opp_team_name=Newcastle': 64,
 'opp_team_name=Brighton': 49,
 'opp_team_name=Fulham': 55,
 'club_name=FUL': 15,
 'opp_team_name=Cardiff': 51,
 'opp_team_name=Wolves': 75,
 'club_name=WOL': 35,
 'club_name=CAR': 11,
 'opp_team_name=Sheffield Utd': 66,
 'opp_team_name=Norwich': 65,
 'club_name=AVL': 6,
 'club_name=NOR': 25,
 'club_name=SHU': 26,
 'opp_team_name=Aston Villa': 46,
 'opp_team_name=Leeds': 58,
 'club_name=LEE': 18,
 'club_name=BRE': 9,
 'opp_team_name=Brentford': 48}

### Feature Selection (VIF)

In [117]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Utility function to return the VIF value for each feature provided
def compute_vif(features, df):
    """
    Returns a DataFrame containing features and their corresponding variance inflation factor
    features: list of features whoes multicollinearity check is needed
    df: DataFrame of the data under review
    """
    X = df[features]   
    X['intercept'] = 1
    # Create dataframe to store vif values
    vif = pd.DataFrame()
    vif['Feature'] = X.columns
    vif['Vif Factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif = vif[vif['Feature']!='intercept']
    return vif

In [120]:
def select_features(df, threshold):
    """
    Returns two objects;
    1. a DataFrame containing features and their corresponding variance inflation factor, and
    2. Pandas Index object containing the list of features that have the least Multicollinearity in accordance with
       the supplied threshold.
    train_df: The training dataset whoes Multicollinearity is to be checked
    threshold: value to compare VIF value with, above which, the feature is dropped.
    """
    data = df.copy()
    flag = True
    while flag:
        features_to_consider = data.columns
        # Calling the "compute_vif" utility function the Variance Inflation Factor dataframe
        sorted_vif_df = (compute_vif(features_to_consider, data) 
                         .sort_values('Vif Factor', ascending=False).reset_index().drop('index', axis=1))

        # Get the highest vif value to compare against a threshold
        highest_vif = sorted_vif_df.at[0, 'Vif Factor']
        
        # Compare the highest_vif with a threshold (100 was decided for this problem by the team)
        if highest_vif >= threshold: # or highest_vif=='inf':
            # Select the feature corresponding to the highest_vif (index 0 for both)
            feature = sorted_vif_df.at[0, 'Feature'] 
            # Drop the feature
            data.drop(feature, axis=1, inplace=True) 
            
        else:
            flag = False
    return sorted_vif_df#, data.columns

In [128]:
df = pd.DataFrame(i for i in features_encoded).transpose()

In [ ]:
df = pd.DataFrame(features_encoded, columns = )

In [129]:
df.drop(0, axis = 1, inplace=True)
df.columns = features_encoded[0]

,0,1,2,3,4,5,6,7,8,9,...,49184,49185,49186,49187,49188,49189,49190,49191,49192,49193
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0,38.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.0,5.0,3.0,33.0,16.0,12.0,23.0,14.0,-3.0,17.0,...,11.0,17.0,14.0,3.0,14.0,11.0,13.0,12.0,3.0,5.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,36571.0,19428.0,845.0,136.0,10099.0,120.0,529.0,2468.0,253.0,228.0
93,60.0,80.0,45.0,70.0,50.0,60.0,60.0,45.0,65.0,65.0,...,50.0,56.0,54.0,44.0,54.0,43.0,45.0,49.0,49.0,59.0
94,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
95,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
96,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
vif_df, selected_features = select_features(features_encoded, 100)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

Test Data Accessing & Cleaning

In [1]:
import pandas as pd
import requests
#get current season data from FPL API endpoints and identify the keys
fpl_base_url = 'https://fantasy.premierleague.com/api/'
current_season = requests.get(fpl_base_url+'bootstrap-static/').json()
#json = r.json()
current_season.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [2]:
#create dataframes for the current season dictionary keys for data exploration
#- Contains summary of Gameweek data
events_df = pd.DataFrame(current_season['events']) #
phases_df = pd.DataFrame(current_season['phases']) #Shows calendar months for game weeks
teams_df = pd.DataFrame(current_season['teams'])
players_df = pd.DataFrame(current_season['elements'])
element_stats_df = pd.DataFrame(current_season['element_stats'])
element_types_df = pd.DataFrame(current_season['element_types'])

#Code to extract weekly game data for all active players in current season
for x in players_df.index :
    print(x)
    player_id = players_df.id[x]
    url = f'https://fantasy.premierleague.com/api/element-summary/{player_id}/'
    r = requests.get(url)
    json = r.json()
    json_history_df = pd.DataFrame(json['history'])
    json_history_past_df = pd.DataFrame(json['history_past'])

       
    if x == 0 :
        all_history_df = json_history_df
        all_history_past_df = json_history_past_df
    else : 
        all_history_df = all_history_df.append(json_history_df)
        all_history_past_df = all_history_past_df.append(json_history_past_df)

In [3]:
df_currentseason = pd.read_csv('current_season.csv')

df_currentseason.head()

,Unnamed: 0,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,round,...,bps,influence,creativity,threat,ict_index,value,transfers_balance,selected,transfers_in,transfers_out
0,0,1,1,7,0,False,2022-08-05T19:00:00Z,0,2,1,...,0,0.0,0.0,0.0,0.0,45,0,23970,0,0
1,1,1,11,10,0,True,2022-08-13T14:00:00Z,4,2,2,...,0,0.0,0.0,0.0,0.0,44,-5169,24193,1361,6530
2,2,1,21,3,0,False,2022-08-20T16:30:00Z,0,3,3,...,0,0.0,0.0,0.0,0.0,44,-4337,20960,879,5216
3,3,1,31,9,0,True,2022-08-27T16:30:00Z,2,1,4,...,0,0.0,0.0,0.0,0.0,43,-2988,18825,577,3565
4,4,1,41,2,0,True,2022-08-31T18:30:00Z,2,1,5,...,0,0.0,0.0,0.0,0.0,43,-1611,17790,405,2016

In [4]:
df_currentseason.shape #Test Data

(3579, 32)

In [5]:
# Make a copy of the original piece of test data.
df_currentseason_clean = df_currentseason.copy()

In [6]:
#Code to save the all players game week data in current and past seasons to csvs
#all_history_df.to_csv('/home/laniolao/fpl/FantasyPremierLeague/current_season.csv')
#all_history_past_df.to_csv('/home/laniolao/fpl/FantasyPremierLeague/past_seasons.csv')

In [7]:
#Map the team names and the player positions into the players_df dataframe
teams_now=dict(zip(teams_df.id, teams_df.short_name))
positions=dict(zip(element_types_df.id, element_types_df.singular_name_short))
players_df['club_name'] = players_df['team'].map(teams_now)
players_df['position'] = players_df['element_type'].map(positions)

In [8]:
#Update the club names from abbreviations to full names
players_df["club_name"].replace({'ARS': 'Arsenal', 'AVL': 'Aston Villa', 'BOU': 'Bournemouth', 'BRE': 'Brentford', 'BHA': 'Brighton', 'CHE': 'Chelsea', 'CRY': 'Crystal Palace', 'EVE': 'Everton', 'FUL': 'Fulham',
       'LEI': 'Leicester', 'LEE': 'Leeds', 'LIV': 'Liverpool', 'MCI': 'Man City', 'MUN': 'Man Utd', 'NEW': 'Newcastle', 'NFO': 'Nottingham Forest', 'SOU': 'Southampton', 'TOT': 'Spurs',
       'WHU': 'West Ham', 'WOL': 'Wolves'}, inplace=True)
players_df.club_name

0      Arsenal
1      Arsenal
2      Arsenal
3      Arsenal
4      Arsenal
        ...
619     Wolves
620     Wolves
621     Wolves
622     Wolves
623     Wolves
Name: club_name, Length: 624, dtype: object

In [9]:
#create the player name feature
players_df['name'] = players_df['first_name'] + ' ' + players_df['second_name']

In [10]:
df_currentseason_clean.columns

Index(['Unnamed: 0', 'element', 'fixture', 'opponent_team', 'total_points',
       'was_home', 'kickoff_time', 'team_h_score', 'team_a_score', 'round',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out'],
      dtype='object')

In [11]:
players_df[['id', 'first_name', 'second_name', 'name','club_name', 'minutes', 'form',  'bonus', 'bps', 'total_points', 'value_season', 'value_form' ]].head()

,id,first_name,second_name,name,club_name,minutes,form,bonus,bps,total_points,value_season,value_form
0,1,Cédric,Alves Soares,Cédric Alves Soares,Arsenal,0,0.0,0,0,0,0.0,0.0
1,3,Granit,Xhaka,Granit Xhaka,Arsenal,537,4.8,2,113,26,5.2,1.0
2,4,Mohamed,Elneny,Mohamed Elneny,Arsenal,90,0.4,0,15,2,0.5,0.1
3,5,Rob,Holding,Rob Holding,Arsenal,3,0.4,0,8,2,0.5,0.1
4,6,Thomas,Partey,Thomas Partey,Arsenal,270,1.0,0,39,8,1.7,0.2

In [12]:
#Map the team names, player names and form into the all current season data player dataframe
teams_map=dict(zip(players_df.id, players_df.name))
club_map=dict(zip(players_df.id, players_df.club_name))
opp_teams_map=dict(zip(players_df.team, players_df.club_name))
form_map=dict(zip(players_df.id, players_df.form))
position_map=dict(zip(players_df.id, players_df.position))
df_currentseason_clean['name'] = df_currentseason_clean['element'].map(teams_map)
df_currentseason_clean['club_name'] = df_currentseason_clean['element'].map(club_map)
df_currentseason_clean['opp_team_name'] = df_currentseason_clean['opponent_team'].map(opp_teams_map)
df_currentseason_clean['form'] = df_currentseason_clean['element'].map(form_map)
df_currentseason_clean['position'] = df_currentseason_clean['element'].map(form_map)

In [13]:
df_currentseason_clean.drop(['Unnamed: 0'], axis=1, inplace=True)

In [14]:
play_zero_minutes = df_currentseason_clean[df_currentseason_clean.minutes == 0].index

In [15]:
df_currentseason_clean.drop(play_zero_minutes, axis = 0, inplace=True)

In [16]:
df_currentseason_clean.shape

(1768, 36)

In [17]:
df_currentseason_clean.rename(columns= { 'round': 'GW' }, inplace=True)

In [18]:
df_currentseason_clean.columns

Index(['element', 'fixture', 'opponent_team', 'total_points', 'was_home',
       'kickoff_time', 'team_h_score', 'team_a_score', 'GW', 'minutes',
       'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'value', 'transfers_balance', 'selected',
       'transfers_in', 'transfers_out', 'name', 'club_name', 'opp_team_name',
       'form', 'position'],
      dtype='object')

In [19]:
df_currentseason_clean.kickoff_time

6       2022-08-05T19:00:00Z
7       2022-08-13T14:00:00Z
8       2022-08-20T16:30:00Z
9       2022-08-27T16:30:00Z
10      2022-08-31T18:30:00Z
                ...
3574    2022-08-20T11:30:00Z
3575    2022-08-28T13:00:00Z
3576    2022-08-31T18:30:00Z
3577    2022-09-03T14:00:00Z
3578    2022-09-03T14:00:00Z
Name: kickoff_time, Length: 1768, dtype: object

In [20]:
df_currentseason_clean['game_date'] = df_currentseason_clean['kickoff_time'].str.replace('T', ' ')
df_currentseason_clean['game_date'] = df_currentseason_clean['game_date'].str.replace(':00Z', '')

In [21]:
df_currentseason_clean['game_date'] = pd.to_datetime(df_currentseason_clean['game_date'])

In [22]:
df_currentseason_clean.game_date

6      2022-08-05 19:00:00
7      2022-08-13 14:00:00
8      2022-08-20 16:30:00
9      2022-08-27 16:30:00
10     2022-08-31 18:30:00
               ...
3574   2022-08-20 11:30:00
3575   2022-08-28 13:00:00
3576   2022-08-31 18:30:00
3577   2022-09-03 14:00:00
3578   2022-09-03 14:00:00
Name: game_date, Length: 1768, dtype: datetime64[ns]

In [23]:
seasons_curr = [1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1]

month_to_curr_season = dict(zip(range(1,13), seasons_curr))
month_to_curr_season

{1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 6: 3, 7: 3, 8: 3, 9: 4, 10: 4, 11: 4, 12: 1}

In [24]:
df_currentseason_clean['game_weather'] = df_currentseason_clean.game_date.dt.month.map(month_to_curr_season)

In [25]:
df_currentseason_clean.game_weather.value_counts()

3    1446
4     322
Name: game_weather, dtype: int64

In [26]:
df_currentseason_clean.game_date.value_counts()

2022-09-03 14:00:00    179
2022-08-27 14:00:00    153
2022-08-13 14:00:00    147
2022-08-06 14:00:00    118
2022-08-20 14:00:00    114
2022-08-31 18:30:00     89
2022-08-21 13:00:00     60
2022-08-28 13:00:00     59
2022-08-30 18:30:00     59
2022-08-07 13:00:00     59
2022-08-13 16:30:00     32
2022-08-07 15:30:00     32
2022-08-15 19:00:00     31
2022-08-28 15:30:00     31
2022-08-13 11:30:00     31
2022-09-04 13:00:00     30
2022-08-20 11:30:00     30
2022-09-04 15:30:00     30
2022-08-14 15:30:00     30
2022-08-20 16:30:00     30
2022-08-27 16:30:00     30
2022-08-06 16:30:00     30
2022-08-22 19:00:00     30
2022-08-30 18:45:00     29
2022-09-03 11:30:00     29
2022-08-05 19:00:00     29
2022-08-06 11:30:00     29
2022-08-27 11:30:00     29
2022-08-31 19:00:00     28
2022-08-14 13:00:00     28
2022-08-21 15:30:00     27
2022-09-03 16:30:00     27
2022-09-01 19:00:00     27
2022-08-30 19:00:00     26
2022-08-31 18:45:00     26
Name: game_date, dtype: int64

In [27]:
df_currentseason_clean.game_date.dt.hour.value_counts()

14    711
13    236
18    203
19    171
15    150
16    149
11    148
Name: game_date, dtype: int64

In [28]:
import numpy as np
df_currentseason_clean['start_label'] = np.where((df_currentseason_clean['game_date'].dt.hour) < 13, 0, 1)

In [29]:
df_currentseason_clean.start_label.value_counts()

1    1620
0     148
Name: start_label, dtype: int64

In [30]:
df_currentseason_clean[['game_date', 'start_label']].head(100)

              game_date  start_label
6   2022-08-05 19:00:00            1
7   2022-08-13 14:00:00            1
8   2022-08-20 16:30:00            1
9   2022-08-27 16:30:00            1
10  2022-08-31 18:30:00            1
..                  ...          ...
170 2022-08-06 14:00:00            1
171 2022-08-13 11:30:00            0
172 2022-08-20 14:00:00            1
173 2022-08-28 13:00:00            1
174 2022-08-31 18:30:00            1

[100 rows x 2 columns]

In [31]:
df_currentseason_clean.drop(['game_date'], axis=1, inplace=True)

df_currentseason_clean

,element,fixture,opponent_team,total_points,was_home,kickoff_time,team_h_score,team_a_score,GW,minutes,...,selected,transfers_in,transfers_out,name,club_name,opp_team_name,form,position,game_weather,start_label
6,3,1,7,2,False,2022-08-05T19:00:00Z,0,2,1,90,...,48303,0,0,Granit Xhaka,Arsenal,Crystal Palace,4.8,4.8,3,1
7,3,11,10,12,True,2022-08-13T14:00:00Z,4,2,2,90,...,65418,9001,9630,Granit Xhaka,Arsenal,Leicester,4.8,4.8,3,1
8,3,21,3,6,False,2022-08-20T16:30:00Z,0,3,3,87,...,216726,137326,25286,Granit Xhaka,Arsenal,Bournemouth,4.8,4.8,3,1
9,3,31,9,2,True,2022-08-27T16:30:00Z,2,1,4,90,...,267951,77459,34699,Granit Xhaka,Arsenal,Fulham,4.8,4.8,3,1
10,3,41,2,2,True,2022-08-31T18:30:00Z,2,1,5,90,...,288460,49435,38654,Granit Xhaka,Arsenal,Aston Villa,4.8,4.8,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3574,589,29,18,2,False,2022-08-20T11:30:00Z,1,0,3,90,...,6801,6482,640,Matheus Luiz Nunes,Wolves,Spurs,4.0,4.0,3,0
3575,589,40,15,2,True,2022-08-28T13:00:00Z,1,1,4,90,...,16866,11496,2756,Matheus Luiz Nunes,Wolves,Newcastle,4.0,4.0,3,1
3576,589,42,3,3,False,2022-08-31T18:30:00Z,0,0,5,74,...,21246,6340,2638,Matheus Luiz Nunes,Wolves,Bournemouth,4.0,4.0,3,1
3577,589,60,17,9,True,2022-09-03T14:00:00Z,1,0,6,90,...,22523,3796,3282,Matheus Luiz Nunes,Wolves,Southampton,4.0,4.0,4,1
3578,608,60,17,1,True,2022-09-03T14:00:00Z,1,0,6,45,...,4739,4642,543,Sasa Kalajdzic,Wolves,Southampton,1.0,1.0,4,1

In [32]:
df_currentseason_clean.drop(['opponent_team', 'fixture', 'kickoff_time'], axis=1, inplace=True)

df_currentseason_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1768 entries, 6 to 3578
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   element            1768 non-null   int64
 1   total_points       1768 non-null   int64
 2   was_home           1768 non-null   bool
 3   team_h_score       1768 non-null   int64
 4   team_a_score       1768 non-null   int64
 5   GW                 1768 non-null   int64
 6   minutes            1768 non-null   int64
 7   goals_scored       1768 non-null   int64
 8   assists            1768 non-null   int64
 9   clean_sheets       1768 non-null   int64
 10  goals_conceded     1768 non-null   int64
 11  own_goals          1768 non-null   int64
 12  penalties_saved    1768 non-null   int64
 13  penalties_missed   1768 non-null   int64
 14  yellow_cards       1768 non-null   int64
 15  red_cards          1768 non-null   int64
 16  saves              1768 non-null   int64
 17  bonus              1768 non-null   int64
 18  bps                1768 non-null   int64
 19  influence          1768 non-null   float64
 20  creativity         1768 non-null   float64
 21  threat             1768 non-null   float64
 22  ict_index          1768 non-null   float64
 23  value              1768 non-null   int64
 24  transfers_balance  1768 non-null   int64
 25  selected           1768 non-null   int64
 26  transfers_in       1768 non-null   int64
 27  transfers_out      1768 non-null   int64
 28  name               1768 non-null   object
 29  club_name          1768 non-null   object
 30  opp_team_name      1768 non-null   object
 31  form               1768 non-null   object
 32  position           1768 non-null   object
 33  game_weather       1768 non-null   int64
 34  start_label        1768 non-null   int64
dtypes: bool(1), float64(4), int64(25), object(5)
memory usage: 485.2+ KB

In [33]:
df_currentseason_clean.position = df_currentseason_clean.position.astype(str)
df_currentseason_clean.opp_team_name = df_currentseason_clean.opp_team_name.astype(str)
df_currentseason_clean.club_name = df_currentseason_clean.club_name.astype(str)
df_currentseason_clean.name = df_currentseason_clean.name.astype(str)
df_currentseason_clean.was_home = df_currentseason_clean.was_home.astype(str)
df_currentseason_clean.form = df_currentseason_clean.form.astype(float)

In [34]:
df_currentseason_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1768 entries, 6 to 3578
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   element            1768 non-null   int64
 1   total_points       1768 non-null   int64
 2   was_home           1768 non-null   object
 3   team_h_score       1768 non-null   int64
 4   team_a_score       1768 non-null   int64
 5   GW                 1768 non-null   int64
 6   minutes            1768 non-null   int64
 7   goals_scored       1768 non-null   int64
 8   assists            1768 non-null   int64
 9   clean_sheets       1768 non-null   int64
 10  goals_conceded     1768 non-null   int64
 11  own_goals          1768 non-null   int64
 12  penalties_saved    1768 non-null   int64
 13  penalties_missed   1768 non-null   int64
 14  yellow_cards       1768 non-null   int64
 15  red_cards          1768 non-null   int64
 16  saves              1768 non-null   int64
 17  bonus              1768 non-null   int64
 18  bps                1768 non-null   int64
 19  influence          1768 non-null   float64
 20  creativity         1768 non-null   float64
 21  threat             1768 non-null   float64
 22  ict_index          1768 non-null   float64
 23  value              1768 non-null   int64
 24  transfers_balance  1768 non-null   int64
 25  selected           1768 non-null   int64
 26  transfers_in       1768 non-null   int64
 27  transfers_out      1768 non-null   int64
 28  name               1768 non-null   object
 29  club_name          1768 non-null   object
 30  opp_team_name      1768 non-null   object
 31  form               1768 non-null   float64
 32  position           1768 non-null   object
 33  game_weather       1768 non-null   int64
 34  start_label        1768 non-null   int64
dtypes: float64(5), int64(25), object(5)
memory usage: 497.2+ KB

In [36]:
df_currentseason_clean[['name', 'club_name', 'element', 'opp_team_name', 'form', 'total_points', 'team_h_score', 'team_a_score', 'GW', 'was_home']].head()

,name,club_name,element,opp_team_name,form,total_points,team_h_score,team_a_score,GW,was_home
6,Granit Xhaka,Arsenal,3,Crystal Palace,4.8,2,0,2,1,False
7,Granit Xhaka,Arsenal,3,Leicester,4.8,12,4,2,2,True
8,Granit Xhaka,Arsenal,3,Bournemouth,4.8,6,0,3,3,False
9,Granit Xhaka,Arsenal,3,Fulham,4.8,2,2,1,4,True
10,Granit Xhaka,Arsenal,3,Aston Villa,4.8,2,2,1,5,True

In [37]:
#get current season fixtures from FPL API endpoint and create Dataframe

current_season_fixtures = requests.get(fpl_base_url+'fixtures/').json()
fixtures_df = pd.DataFrame(current_season_fixtures)
fixtures_df.head()

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914
2,2292811,1,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
3,2292814,1,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
4,2292816,1,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,74917

In [38]:
fixtures_df.head(10)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914
2,2292811,1,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
3,2292814,1,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
4,2292816,1,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,74917
5,2292817,1,True,True,8,2022-08-06T14:00:00Z,90,False,True,17,1.0,18,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74918
6,2292812,1,True,True,3,2022-08-06T16:30:00Z,90,False,True,6,1.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,74913
7,2292815,1,True,True,6,2022-08-07T13:00:00Z,90,False,True,4,2.0,10,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74916
8,2292818,1,True,True,9,2022-08-07T13:00:00Z,90,False,True,5,2.0,14,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74919
9,2292819,1,True,True,10,2022-08-07T15:30:00Z,90,False,True,13,2.0,19,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,74920