In [193]:
#import library
import requests
import pandas as pd
import numpy as np
import pandas.util.testing as tm

In [98]:
# get data from endpoint 
r= requests.get('https://www.fantasynutmeg.com/api/history/season')
df = pd.DataFrame(r.json())
print(df)

         0
0  2016-17
1  2017-18
2  2018-19
3  2019-20
4  2020-21
5  2021-22
6  2022-23

In [99]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2016-17')
json = r.json()

In [194]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2016-17')
test = r.json()

In [195]:
test.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [100]:
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [101]:
dd_agg_df = pd.DataFrame(json['dd_agg_fixture'])
dd_hauls16_df = pd.DataFrame(json['dd_hauls'])
dd_agg_pl_df = pd.DataFrame(json['dd_agg_player'])
hist16_df = pd.DataFrame(json['history'])

In [102]:
dd_agg_df.head()

   count fixture
0     22  HUL(H)
1     22  WAT(H)
2     19  LEI(H)
3     19  SWA(A)
4     18  SUN(A)

In [103]:
dd_agg_df.columns

Index(['count', 'fixture'], dtype='object')

In [104]:
hist16_df.columns

Index(['assists', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheets', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'dreamteam_count', 'ea_index',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'in_dreamteam', 'influence', 'loaned_in', 'loaned_out', 'loans_in',
       'loans_out', 'minutes', 'news', 'now_cost', 'own_goals',
       'penalties_missed', 'penalties_saved', 'photo', 'points_per_game',
       'position', 'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code', 'team_name',
       'threat', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'yellow_cards'],
      dtype='object')

In [105]:
hist16_df.shape

(683, 59)

In [106]:
dd_agg_pl_df.head()

   count    player
0      2    Defour
1      7  Coutinho
2      4   Lallana
3      4    Milner
4      5   Daniels

In [107]:
dd_agg_pl_df.columns

Index(['count', 'player'], dtype='object')

In [108]:
dd_agg_pl_df.shape

(206, 2)

In [109]:
dd_hauls16_df.head(400)

    fixture     player  points position  round
0    HUL(H)     Defour      11      MID      4
1    HUL(H)   Coutinho      14      MID      6
2    HUL(H)    Lallana      15      MID      6
3    HUL(H)     Milner      14      MID      6
4    HUL(H)    Daniels      13      DEF      8
..      ...        ...     ...      ...    ...
395  LIV(H)   McArthur      15      MID     10
396  LIV(H)     Fraser      15      MID     14
397  LIV(H)      Defoe      13      FWD     20
398  LIV(H)  Ranocchia      12      DEF     24
399  LIV(H)    N'Diaye      10      MID     24

[400 rows x 5 columns]

In [110]:
dd_hauls16_df['year'] = dd_hauls16_df.apply(lambda x: "2016-17", axis=1)

In [111]:
teams=dict(zip(hist16_df.web_name, hist16_df.team_name))
dd_hauls16_df['club_name'] = dd_hauls16_df['player'].map(teams)
dd_hauls16_df.head()

  fixture    player  points position  round     year club_name
0  HUL(H)    Defour      11      MID      4  2016-17       BUR
1  HUL(H)  Coutinho      14      MID      6  2016-17       LIV
2  HUL(H)   Lallana      15      MID      6  2016-17       LIV
3  HUL(H)    Milner      14      MID      6  2016-17       LIV
4  HUL(H)   Daniels      13      DEF      8  2016-17       BOU

In [112]:
dd_hauls16_df.shape

(469, 7)

In [113]:
dd_hauls16_df.isnull().any()

fixture      False
player       False
points       False
position     False
round        False
year         False
club_name    False
dtype: bool

In [114]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2017-18')
json = r.json()
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [115]:
dd_hauls17_df = pd.DataFrame(json['dd_hauls'])
hist17_df = pd.DataFrame(json['history'])
dd_hauls17_df['year'] = dd_hauls17_df.apply(lambda x: "2017-18", axis=1)
dd_hauls17_df.head()

  fixture    player  points position  round     year
0  BHA(H)   Maguire      15      DEF      2  2017-18
1  BHA(H)    Mahrez      11      MID      2  2017-18
2  BHA(H)    Surman      10      MID      5  2017-18
3  BHA(H)   Monreal      15      DEF      7  2017-18
4  BHA(H)  Bellerín      11      DEF      7  2017-18

In [116]:
dd_hauls17_df.shape

(431, 6)

In [117]:
teams=dict(zip(hist17_df.web_name, hist17_df.team_name))
dd_hauls17_df['club_name'] = dd_hauls17_df['player'].map(teams)
dd_hauls17_df.head()

  fixture    player  points position  round     year club_name
0  BHA(H)   Maguire      15      DEF      2  2017-18       LEI
1  BHA(H)    Mahrez      11      MID      2  2017-18       LEI
2  BHA(H)    Surman      10      MID      5  2017-18       BOU
3  BHA(H)   Monreal      15      DEF      7  2017-18       ARS
4  BHA(H)  Bellerín      11      DEF      7  2017-18       ARS

In [118]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2018-19')
json = r.json()
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [119]:
dd_hauls18_df = pd.DataFrame(json['dd_hauls'])
hist18_df = pd.DataFrame(json['history'])
dd_hauls18_df['year'] = dd_hauls18_df.apply(lambda x: "2018-19", axis=1)
dd_hauls18_df.head()

  fixture        player  points position  round     year
0  HUD(H)        Agüero      20      FWD      2  2018-19
1  HUD(H)         Vardy      11      FWD      6  2018-19
2  HUD(H)     Iheanacho      12      FWD      6  2018-19
3  HUD(H)  Kiko Femenía      12      DEF     10  2018-19
4  HUD(H)       Pereyra      11      MID     10  2018-19

In [120]:
dd_hauls18_df.shape

(460, 6)

In [121]:
teams=dict(zip(hist18_df.web_name, hist18_df.team_name))
dd_hauls18_df['club_name'] = dd_hauls18_df['player'].map(teams)
dd_hauls18_df.head()

  fixture        player  points position  round     year club_name
0  HUD(H)        Agüero      20      FWD      2  2018-19       MCI
1  HUD(H)         Vardy      11      FWD      6  2018-19       LEI
2  HUD(H)     Iheanacho      12      FWD      6  2018-19       LEI
3  HUD(H)  Kiko Femenía      12      DEF     10  2018-19       WAT
4  HUD(H)       Pereyra      11      MID     10  2018-19       WAT

In [122]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2019-20')
json = r.json()
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [123]:
dd_hauls19_df = pd.DataFrame(json['dd_hauls'])
hist19_df = pd.DataFrame(json['history'])
dd_hauls19_df['year'] = dd_hauls19_df.apply(lambda x: "2019-20", axis=1)
dd_hauls19_df.head()

  fixture     player  points position  round     year
0  WAT(H)      Digne      11      DEF      2  2019-20
1  WAT(H)    Bernard      11      MID      2  2019-20
2  WAT(H)   Otamendi      15      DEF      6  2019-20
3  WAT(H)  De Bruyne      17      MID      6  2019-20
4  WAT(H)     Mahrez      15      MID      6  2019-20

In [124]:
teams=dict(zip(hist19_df.web_name, hist19_df.team_name))
dd_hauls19_df['club_name'] = dd_hauls19_df['player'].map(teams)
dd_hauls19_df.head()

  fixture     player  points position  round     year club_name
0  WAT(H)      Digne      11      DEF      2  2019-20       EVE
1  WAT(H)    Bernard      11      MID      2  2019-20       EVE
2  WAT(H)   Otamendi      15      DEF      6  2019-20       MCI
3  WAT(H)  De Bruyne      17      MID      6  2019-20       MCI
4  WAT(H)     Mahrez      15      MID      6  2019-20       MCI

In [125]:
dd_hauls20_df = pd.DataFrame(json['dd_hauls'])
hist20_df = pd.DataFrame(json['history'])
dd_hauls20_df['year'] = dd_hauls20_df.apply(lambda x: "2020-21", axis=1)
dd_hauls20_df.head()

  fixture     player  points position  round     year
0  WAT(H)      Digne      11      DEF      2  2020-21
1  WAT(H)    Bernard      11      MID      2  2020-21
2  WAT(H)   Otamendi      15      DEF      6  2020-21
3  WAT(H)  De Bruyne      17      MID      6  2020-21
4  WAT(H)     Mahrez      15      MID      6  2020-21

In [126]:
dd_hauls20_df.shape

(435, 6)

In [127]:
teams=dict(zip(hist20_df.web_name, hist20_df.team_name))
dd_hauls20_df['club_name'] = dd_hauls20_df['player'].map(teams)
dd_hauls20_df.head()

  fixture     player  points position  round     year club_name
0  WAT(H)      Digne      11      DEF      2  2020-21       EVE
1  WAT(H)    Bernard      11      MID      2  2020-21       EVE
2  WAT(H)   Otamendi      15      DEF      6  2020-21       MCI
3  WAT(H)  De Bruyne      17      MID      6  2020-21       MCI
4  WAT(H)     Mahrez      15      MID      6  2020-21       MCI

In [128]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2021-22')
json = r.json()
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [129]:
dd_hauls21_df = pd.DataFrame(json['dd_hauls'])
hist21_df = pd.DataFrame(json['history'])
dd_hauls21_df['year'] = dd_hauls21_df.apply(lambda x: "2021-22", axis=1)
dd_hauls21_df.head()

  fixture player  points position  round     year
0  NOR(A)  Salah      17      MID      1  2021-22
1  NOR(A)  Vardy      12      FWD      3  2021-22
2  NOR(A)   Sarr      15      MID      5  2021-22
3  NOR(A)   King      10      FWD      5  2021-22
4  NOR(A)     Sá      10      GKP     13  2021-22

In [130]:
dd_hauls21_df.shape

(472, 6)

In [131]:
teams=dict(zip(hist21_df.web_name, hist21_df.team_name))
dd_hauls21_df['club_name'] = dd_hauls21_df['player'].map(teams)
dd_hauls21_df.head()

  fixture player  points position  round     year club_name
0  NOR(A)  Salah      17      MID      1  2021-22       LIV
1  NOR(A)  Vardy      12      FWD      3  2021-22       LEI
2  NOR(A)   Sarr      15      MID      5  2021-22       CHE
3  NOR(A)   King      10      FWD      5  2021-22       WAT
4  NOR(A)     Sá      10      GKP     13  2021-22       WOL

In [132]:
# get data from endpoint
r= requests.get('https://www.fantasynutmeg.com/api/history/season/2022-23')
json = r.json()
json.keys()

dict_keys(['dd_agg_fixture', 'dd_agg_player', 'dd_hauls', 'history'])

In [133]:
dd_hauls22_df = pd.DataFrame(json['dd_hauls'])
hist22_df = pd.DataFrame(json['history'])
dd_hauls22_df['year'] = dd_hauls22_df.apply(lambda x: "2022-23", axis=1)
dd_hauls22_df.head()

  fixture    player  points position  round     year
0  AVL(H)     Lerma      10      MID      1  2022-23
1  AVL(H)     Kelly      12      DEF      1  2022-23
2  AVL(H)      Zaha      12      MID      3  2022-23
3  LIV(H)  Mitrović      13      FWD      1  2022-23
4  LIV(H)  Rashford      10      MID      3  2022-23

In [134]:
dd_hauls22_df.shape

(38, 6)

In [135]:
teams=dict(zip(hist22_df.web_name, hist22_df.team_name))
dd_hauls22_df['club_name'] = dd_hauls22_df['player'].map(teams)
dd_hauls22_df.head()

  fixture    player  points position  round     year club_name
0  AVL(H)     Lerma      10      MID      1  2022-23       BOU
1  AVL(H)     Kelly      12      DEF      1  2022-23       BOU
2  AVL(H)      Zaha      12      MID      3  2022-23       CRY
3  LIV(H)  Mitrović      13      FWD      1  2022-23       FUL
4  LIV(H)  Rashford      10      MID      3  2022-23       MUN

In [136]:
dfs = [dd_hauls16_df, dd_hauls17_df, dd_hauls18_df, dd_hauls19_df, dd_hauls20_df, dd_hauls21_df]

hauls_df = pd.concat(dfs, axis=0, ignore_index=True)
hauls_df.shape

(2702, 7)

In [137]:
hauls_df.tail()

     fixture   player  points position  round     year club_name
2697  MCI(H)   Lloris      10      GKP      1  2021-22       TOT
2698  MCI(H)      Son      10      MID      1  2021-22       TOT
2699  MCI(H)    Salah      13      MID      7  2021-22       LIV
2700  MCI(H)    Bowen      14      MID     37  2021-22       WHU
2701  LIV(A)  Shelvey      10      MID     17  2021-22       NEW

In [138]:
#Merge "round" and "year" into a column
hauls_df['aclub'] = hauls_df['fixture'].str.slice(0, 3)
dd_hauls22_df['aclub'] = dd_hauls22_df['fixture'].str.slice(0, 3)
hauls_df['GW'] = hauls_df['round'].map(str) + '-' + hauls_df['year'].map(str)
dd_hauls22_df['GW'] = dd_hauls22_df['round'].map(str) + '-' + dd_hauls22_df['year'].map(str)
hauls_df['player-opp'] = hauls_df['player'].map(str) + '-' + hauls_df['aclub'].map(str)
dd_hauls22_df['player-opp'] = dd_hauls22_df['player'].map(str) + '-' + dd_hauls22_df['aclub'].map(str)

#Create a column for Home and Away
a='(H)'

hauls_df['Ground'] = hauls_df.fixture.apply(lambda x: "Home" if a in x else "Away")
dd_hauls22_df['Ground'] = dd_hauls22_df.fixture.apply(lambda x: "Home" if a in x else "Away")

#

In [139]:
hauls_df.tail()

,fixture,player,points,position,round,year,club_name,aclub,GW,player-opp,Ground
2697,MCI(H),Lloris,10,GKP,1,2021-22,TOT,MCI,1-2021-22,Lloris-MCI,Home
2698,MCI(H),Son,10,MID,1,2021-22,TOT,MCI,1-2021-22,Son-MCI,Home
2699,MCI(H),Salah,13,MID,7,2021-22,LIV,MCI,7-2021-22,Salah-MCI,Home
2700,MCI(H),Bowen,14,MID,37,2021-22,WHU,MCI,37-2021-22,Bowen-MCI,Home
2701,LIV(A),Shelvey,10,MID,17,2021-22,NEW,LIV,17-2021-22,Shelvey-LIV,Away

In [140]:
dd_hauls22_df.head(75)

,fixture,player,points,position,round,year,club_name,aclub,GW,player-opp,Ground
0,AVL(H),Lerma,10,MID,1,2022-23,BOU,AVL,1-2022-23,Lerma-AVL,Home
1,AVL(H),Kelly,12,DEF,1,2022-23,BOU,AVL,1-2022-23,Kelly-AVL,Home
2,AVL(H),Zaha,12,MID,3,2022-23,CRY,AVL,3-2022-23,Zaha-AVL,Home
3,LIV(H),Mitrović,13,FWD,1,2022-23,FUL,LIV,1-2022-23,Mitrović-LIV,Home
4,LIV(H),Rashford,10,MID,3,2022-23,MUN,LIV,3-2022-23,Rashford-LIV,Home
5,LIV(H),Sancho,10,MID,3,2022-23,MUN,LIV,3-2022-23,Sancho-LIV,Home
6,BOU(H),Gündogan,10,MID,2,2022-23,MCI,BOU,2-2022-23,Gündogan-BOU,Home
7,BOU(H),De Bruyne,14,MID,2,2022-23,MCI,BOU,2-2022-23,De Bruyne-BOU,Home
8,BOU(H),Cancelo,11,DEF,2,2022-23,MCI,BOU,2-2022-23,Cancelo-BOU,Home
9,WHU(A),Haaland,13,FWD,1,2022-23,MCI,WHU,1-2022-23,Haaland-WHU,Away
10,WHU(A),Mac Allister,11,MID,3,2022-23,BHA,WHU,3-2022-23,Mac Allister-WHU,Away
11,CHE(H),Rodrigo,13,MID,3,2022-23,LEE,CHE,3-2022-23,Rodrigo-CHE,Home
12,CHE(H),Harrison,14,MID,3,2022-23,LEE,CHE,3-2022-23,Harrison-CHE,Home
13,BOU(A),Saliba,14,DEF,3,2022-23,ARS,BOU,3-2022-23,Saliba-BOU,Away
14,BOU(A),Ødegaard,16,MID,3,2022-23,ARS,BOU,3-2022-23,Ødegaard-BOU,Away
15,LEI(H),Jesus,19,FWD,2,2022-23,ARS,LEI,2-2022-23,Jesus-LEI,Home
16,LEI(H),Xhaka,12,MID,2,2022-23,ARS,LEI,2-2022-23,Xhaka-LEI,Home
17,CRY(A),Zinchenko,12,DEF,1,2022-23,ARS,CRY,1-2022-23,Zinchenko-CRY,Away
18,CRY(A),Martínez,10,GKP,3,2022-23,MUN,CRY,3-2022-23,Martínez-CRY,Away
19,MUN(H),Mee,14,DEF,2,2022-23,BRE,MUN,2-2022-23,Mee-MUN,Home
20,MUN(H),Jensen,14,MID,2,2022-23,BRE,MUN,2-2022-23,Jensen-MUN,Home
21,MUN(A),Groß,15,MID,1,2022-23,BHA,MUN,1-2022-23,Groß-MUN,Away
22,EVE(A),Jorginho,11,MID,1,2022-23,CHE,EVE,1-2022-23,Jorginho-EVE,Away
23,SOU(A),Rodrigo,15,MID,2,2022-23,LEE,SOU,2-2022-23,Rodrigo-SOU,Away
24,BRE(H),Dewsbury-Hall,10,MID,1,2022-23,LEI,BRE,1-2022-23,Dewsbury-Hall-BRE,Home
25,FUL(A),Salah,12,MID,1,2022-23,LIV,FUL,1-2022-23,Salah-FUL,Away
26,NEW(A),Bernardo,13,MID,3,2022-23,MCI,NEW,3-2022-23,Bernardo-NEW,Away
27,NFO(H),Schär,15,DEF,1,2022-23,NEW,NFO,1-2022-23,Schär-NFO,Home
28,MCI(H),Saint-Maximin,13,MID,3,2022-23,NEW,MCI,3-2022-23,Saint-Maximin-MCI,Home
29,BHA(A),Pope,10,GKP,2,2022-23,NEW,BHA,2-2022-23,Pope-BHA,Away
30,WHU(H),Henderson,14,GKP,2,2022-23,NFO,WHU,2-2022-23,Henderson-WHU,Home
31,EVE(H),Watkins,11,FWD,2,2022-23,AVL,EVE,2-2022-23,Watkins-EVE,Home
32,LEI(A),Adams,12,FWD,3,2022-23,LEE,LEI,3-2022-23,Adams-LEI,Away
33,CHE(A),Højbjerg,10,MID,2,2022-23,TOT,CHE,2-2022-23,Højbjerg-CHE,Away
34,SOU(H),Kulusevski,13,MID,1,2022-23,TOT,SOU,1-2022-23,Kulusevski-SOU,Home
35,WOL(H),Perišić,12,DEF,3,2022-23,TOT,WOL,3-2022-23,Perišić-WOL,Home
36,FUL(H),Sá,15,GKP,2,2022-23,WOL,FUL,2-2022-23,Sá-FUL,Home
37,LEE(A),Podence,10,MID,1,2022-23,WOL,LEE,1-2022-23,Podence-LEE,Away

In [141]:
hauls_df.groupby(['player']).size().sort_values(ascending = False).head(20)

player
Salah               51
Sterling            46
De Bruyne           44
Son                 41
Kane                40
Mané                37
Alexander-Arnold    33
Vardy               32
Mahrez              30
Hazard              26
Alonso              25
Firmino             24
Agüero              24
Martial             23
Willian             23
Sánchez             22
Aubameyang          20
David Silva         20
Doherty             19
Jesus               19
dtype: int64

In [142]:
hauls_df[hauls_df.player == 'Salah'].groupby(['fixture']).size().sort_values(ascending = False).head(25)

fixture
CRY(H)    4
ARS(H)    4
NOR(H)    3
WHU(A)    3
WAT(H)    3
BHA(A)    3
SOU(H)    3
BOU(A)    3
MCI(H)    2
SHU(H)    2
WAT(A)    2
HUD(H)    1
BHA(H)    1
BUR(H)    1
CAR(H)    1
CHE(H)    1
EVE(A)    1
EVE(H)    1
WOL(A)    1
LEE(H)    1
LEI(H)    1
WHU(H)    1
MUN(A)    1
MUN(H)    1
NEW(H)    1
dtype: int64

In [143]:
hauls_df.sort_values(by='points', ascending=False).head(50)

,fixture,player,points,position,round,year,club_name,aclub,GW,player-opp,Ground
656,WAT(H),Salah,29,MID,31,2017-18,LIV,WAT,31-2017-18,Salah-WAT,Home
1931,NOR(A),Antonio,26,MID,44,2020-21,WHU,NOR,44-2020-21,Antonio-NOR,Away
1496,NOR(A),Antonio,26,MID,44,2019-20,WHU,NOR,44-2019-20,Antonio-NOR,Away
2562,WAT(H),Jesus,24,FWD,34,2021-22,MCI,WAT,34-2021-22,Jesus-WAT,Home
1766,LEI(A),Alexander-Arnold,24,DEF,19,2019-20,LIV,LEI,19-2019-20,Alexander-Arnold-LEI,Away
2606,MUN(A),Salah,24,MID,9,2021-22,LIV,MUN,9-2021-22,Salah-MUN,Away
2201,LEI(A),Alexander-Arnold,24,DEF,19,2020-21,LIV,LEI,19-2020-21,Alexander-Arnold-LEI,Away
283,LEI(A),Kane,24,FWD,37,2016-17,TOT,LEI,37-2016-17,Kane-LEI,Away
2630,WOL(A),De Bruyne,24,MID,36,2021-22,MCI,WOL,36-2021-22,De Bruyne-WOL,Away
2284,NOR(H),Mount,24,MID,9,2021-22,CHE,NOR,9-2021-22,Mount-NOR,Home
220,WHU(A),Sánchez,23,MID,14,2016-17,ARS,WHU,14-2016-17,Sánchez-WHU,Away
1018,CAR(A),Deulofeu,23,MID,27,2018-19,WAT,CAR,27-2018-19,Deulofeu-CAR,Away
2546,NEW(A),James,21,DEF,10,2021-22,LEE,NEW,10-2021-22,James-NEW,Away
310,WHU(H),Chadli,21,MID,5,2016-17,WBA,WHU,5-2016-17,Chadli-WHU,Home
1338,EVE(A),Son,21,MID,18,2018-19,TOT,EVE,18-2018-19,Son-EVE,Away
1294,BOU(A),Salah,21,MID,16,2018-19,LIV,BOU,16-2018-19,Salah-BOU,Away
917,HUD(H),Lucas Moura,21,MID,34,2018-19,TOT,HUD,34-2018-19,Lucas Moura-HUD,Home
1050,SOU(H),Sterling,21,MID,11,2018-19,TOT,SOU,11-2018-19,Sterling-SOU,Home
1566,BHA(A),Sterling,21,MID,44,2019-20,MCI,BHA,44-2019-20,Sterling-BHA,Away
1522,SHU(H),Martial,21,MID,40,2019-20,MUN,SHU,40-2019-20,Martial-SHU,Home
1236,WAT(H),Sterling,21,MID,30,2018-19,TOT,WAT,30-2018-19,Sterling-WAT,Home
1957,SHU(H),Martial,21,MID,40,2020-21,MUN,SHU,40-2020-21,Martial-SHU,Home
2491,AVL(A),Son,21,MID,32,2021-22,TOT,AVL,32-2021-22,Son-AVL,Away
2004,BUR(H),Lundstram,21,DEF,11,2020-21,SHU,BUR,11-2020-21,Lundstram-BUR,Home
666,LEI(H),Agüero,21,FWD,27,2017-18,MCI,LEI,27-2017-18,Agüero-LEI,Home
2001,BHA(A),Sterling,21,MID,44,2020-21,MCI,BHA,44-2020-21,Sterling-BHA,Away
181,BOU(H),Lukaku,21,FWD,24,2016-17,EVE,BOU,24-2016-17,Lukaku-BOU,Home
1569,BUR(H),Lundstram,21,DEF,11,2019-20,SHU,BUR,11-2019-20,Lundstram-BUR,Home
5,HUL(H),Stanislas,21,MID,8,2016-17,BOU,HUL,8-2016-17,Stanislas-HUL,Home
958,CAR(H),Schär,21,DEF,23,2018-19,NEW,CAR,23-2018-19,Schär-CAR,Home
277,LEI(A),Alonso,21,DEF,21,2016-17,CHE,LEI,21-2016-17,Alonso-LEI,Away
389,STK(H),Kane,20,FWD,26,2016-17,TOT,STK,26-2016-17,Kane-STK,Home
2599,WHU(A),Harrison,20,MID,22,2021-22,LEE,WHU,22-2021-22,Harrison-WHU,Away
2069,SOU(A),Pérez,20,MID,10,2020-21,LEI,SOU,10-2020-21,Pérez-SOU,Away
1618,WHU(A),Sterling,20,MID,1,2019-20,MCI,WHU,1-2019-20,Sterling-WHU,Away
2301,WAT(A),Firmino,20,FWD,8,2021-22,LIV,WAT,8-2021-22,Firmino-WAT,Away
1633,SOU(A),Vardy,20,FWD,10,2019-20,LEI,SOU,10-2019-20,Vardy-SOU,Away
1634,SOU(A),Pérez,20,MID,10,2019-20,LEI,SOU,10-2019-20,Pérez-SOU,Away
2053,WHU(A),Sterling,20,MID,1,2020-21,MCI,WHU,1-2020-21,Sterling-WHU,Away
947,CAR(H),Hazard,20,MID,5,2018-19,CHE,CAR,5-2018-19,Hazard-CAR,Home
2255,LEE(H),Fernandes,20,MID,1,2021-22,MUN,LEE,1-2021-22,Fernandes-LEE,Home
1892,AVL(A),Agüero,20,FWD,22,2020-21,MCI,AVL,22-2020-21,Agüero-AVL,Away
1725,BUR(A),Pulisic,20,MID,10,2019-20,CHE,BUR,10-2019-20,Pulisic-BUR,Away
2068,SOU(A),Vardy,20,FWD,10,2020-21,LEI,SOU,10-2020-21,Vardy-SOU,Away
569,EVE(H),Ramsey,20,MID,26,2017-18,ARS,EVE,26-2017-18,Ramsey-EVE,Home
592,WAT(A),Agüero,20,FWD,5,2017-18,MCI,WAT,5-2017-18,Agüero-WAT,Away
1233,WAT(H),van Dijk,20,DEF,28,2018-19,LIV,WAT,28-2018-19,van Dijk-WAT,Home
1457,AVL(A),Agüero,20,FWD,22,2019-20,MCI,AVL,22-2019-20,Agüero-AVL,Away
2160,BUR(A),Pulisic,20,MID,10,2020-21,CHE,BUR,10-2020-21,Pulisic-BUR,Away
900,HUD(H),Agüero,20,FWD,2,2018-19,MCI,HUD,2-2018-19,Agüero-HUD,Home

In [144]:
#base url for FPL API endpoints
fpl_base_url = 'https://fantasy.premierleague.com/api/'

In [145]:
# get data from bootstrap-static endpoint
r= requests.get(fpl_base_url+'bootstrap-static/')
json = r.json()

In [146]:
#show the keys
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [147]:
#- Contains summary of Gameweek data
events_df = pd.DataFrame(json['events']) 
# phases_df = pd.DataFrame(json['phases']) - Shows calendar months for game weeks
teams_df = pd.DataFrame(json['teams'])
players_df = pd.DataFrame(json['elements'])
element_stats_df = pd.DataFrame(json['element_stats'])
element_types_df = pd.DataFrame(json['element_types'])

In [148]:
events_df.head()

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2022-08-05T17:30:00Z,57,True,True,7309963.0,1659720600,0,119.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 170273}...",28.0,1.0,366.0,"{'id': 366, 'points': 15}",0,283.0,318.0
1,2,Gameweek 2,2022-08-13T10:00:00Z,57,True,True,3977474.0,1660384800,0,139.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 136909}...",28.0,318.0,28.0,"{'id': 28, 'points': 19}",12847501,318.0,283.0
2,3,Gameweek 3,2022-08-20T10:00:00Z,48,True,True,9105261.0,1660989600,0,118.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 118152}...",28.0,19.0,7.0,"{'id': 7, 'points': 16}",20175060,28.0,318.0
3,4,Gameweek 4,2022-08-27T10:00:00Z,51,False,False,9063280.0,1661594400,0,147.0,...,False,False,"[{'chip_name': 'bboost', 'num_played': 145393}...",28.0,225.0,279.0,"{'id': 279, 'points': 22}",16105042,283.0,28.0
4,5,Gameweek 5,2022-08-30T17:00:00Z,0,False,False,NaN,1661878800,0,NaN,...,False,False,[],NaN,NaN,NaN,None,0,NaN,NaN

In [149]:
players_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
0,NaN,NaN,58822,0,0,-2,2,0,2,0.5,...,345,135,428,168,5.0,,3.0,,NaN,
1,NaN,NaN,84450,0,0,0,0,1,3,6.0,...,90,57,36,26,NaN,,NaN,,NaN,
2,NaN,NaN,153256,0,0,-1,1,0,3,1.0,...,373,142,319,145,NaN,,NaN,,NaN,
3,NaN,NaN,156074,0,0,-2,2,0,2,0.7,...,346,136,429,169,NaN,,NaN,,NaN,
4,75.0,NaN,167199,0,0,0,0,0,3,1.9,...,86,55,140,75,NaN,,4.0,,NaN,

In [150]:
#Define URL to get fixtures
#url = 'https://www.fantasynutmeg.com/api/fixtures/'
fix = fpl_base_url+'fixtures/'

#Request hosting server to fetch url

data = requests.get(fix)
fixtures_df = pd.DataFrame(data.json())
fixtures_df.head(50)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,1,2022-08-05T19:00:00Z,90,False,True,1,2.0,7,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74911
1,2292813,1,True,True,4,2022-08-06T11:30:00Z,90,False,True,12,2.0,9,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,74914
2,2292811,1,True,True,2,2022-08-06T14:00:00Z,90,False,True,2,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74912
3,2292814,1,True,True,5,2022-08-06T14:00:00Z,90,False,True,20,1.0,11,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74915
4,2292816,1,True,True,7,2022-08-06T14:00:00Z,90,False,True,16,0.0,15,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,74917
5,2292817,1,True,True,8,2022-08-06T14:00:00Z,90,False,True,17,1.0,18,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74918
6,2292812,1,True,True,3,2022-08-06T16:30:00Z,90,False,True,6,1.0,8,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,74913
7,2292815,1,True,True,6,2022-08-07T13:00:00Z,90,False,True,4,2.0,10,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74916
8,2292818,1,True,True,9,2022-08-07T13:00:00Z,90,False,True,5,2.0,14,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74919
9,2292819,1,True,True,10,2022-08-07T15:30:00Z,90,False,True,13,2.0,19,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,74920
10,2292821,2,True,True,12,2022-08-13T11:30:00Z,90,False,True,8,1.0,2,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74922
11,2292820,2,True,True,11,2022-08-13T14:00:00Z,90,False,True,10,2.0,1,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,74921
12,2292823,2,True,True,14,2022-08-13T14:00:00Z,90,False,True,15,0.0,5,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,74924
13,2292826,2,True,True,17,2022-08-13T14:00:00Z,90,False,True,3,0.0,13,4.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,5,74927
14,2292828,2,True,True,19,2022-08-13T14:00:00Z,90,False,True,11,2.0,17,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74929
15,2292829,2,True,True,20,2022-08-13T14:00:00Z,90,False,True,9,0.0,20,0.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74930
16,2292822,2,True,True,13,2022-08-13T16:30:00Z,90,False,True,14,0.0,4,4.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,74923
17,2292827,2,True,True,18,2022-08-14T13:00:00Z,90,False,True,19,0.0,16,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,74928
18,2292824,2,True,True,15,2022-08-14T15:30:00Z,90,False,True,18,2.0,6,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,74925
19,2292825,2,True,True,16,2022-08-15T19:00:00Z,90,False,True,7,1.0,12,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,5,74926
20,2292838,3,True,True,29,2022-08-20T11:30:00Z,90,False,True,20,0.0,18,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,74939
21,2292831,3,True,True,22,2022-08-20T14:00:00Z,90,False,True,2,1.0,7,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74932
22,2292832,3,True,True,23,2022-08-20T14:00:00Z,90,False,True,16,1.0,8,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74933
23,2292833,3,True,True,24,2022-08-20T14:00:00Z,90,False,True,4,2.0,9,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74934
24,2292835,3,True,True,26,2022-08-20T14:00:00Z,90,False,True,17,2.0,10,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74936
25,2292830,3,True,True,21,2022-08-20T16:30:00Z,90,False,True,1,3.0,3,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74931
26,2292834,3,True,True,25,2022-08-21T13:00:00Z,90,False,True,6,0.0,11,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",4,2,74935
27,2292839,3,True,True,30,2022-08-21T13:00:00Z,90,False,True,5,2.0,19,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,74940
28,2292837,3,True,True,28,2022-08-21T15:30:00Z,90,False,True,13,3.0,15,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,74938
29,2292836,3,True,True,27,2022-08-22T19:00:00Z,90,False,True,12,1.0,14,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,4,74937
30,2292848,4,True,True,39,2022-08-27T11:30:00Z,90,False,True,14,1.0,17,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,74949
31,2292842,4,True,True,33,2022-08-27T14:00:00Z,90,False,True,8,1.0,4,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,74943
32,2292843,4,True,True,34,2022-08-27T14:00:00Z,90,False,True,11,0.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,2,74944
33,2292844,4,True,True,35,2022-08-27T14:00:00Z,90,False,True,10,1.0,6,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,74945
34,2292845,4,True,True,36,2022-08-27T14:00:00Z,90,False,True,3,0.0,12,9.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,5,74946
35,2292846,4,True,True,37,2022-08-27T14:00:00Z,90,False,True,7,2.0,13,4.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,5,74947
36,2292840,4,True,True,31,2022-08-27T16:30:00Z,90,False,True,9,1.0,1,2.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,4,74941
37,2292841,4,False,False,32,2022-08-28T13:00:00Z,0,False,False,19,NaN,2,NaN,[],3,2,74942
38,2292849,4,False,False,40,2022-08-28T13:00:00Z,0,False,False,15,NaN,20,NaN,[],3,2,74950
39,2292847,4,False,False,38,2022-08-28T15:30:00Z,0,False,False,18,NaN,16,NaN,[],3,2,74948
40,2292852,5,False,False,43,2022-08-30T18:30:00Z,0,False,False,4,NaN,7,NaN,[],2,2,74953
41,2292853,5,False,False,44,2022-08-30T18:30:00Z,0,False,False,5,NaN,9,NaN,[],2,2,74954
42,2292859,5,False,False,50,2022-08-30T18:45:00Z,0,False,False,6,NaN,17,NaN,[],4,2,74960
43,2292854,5,False,False,45,2022-08-30T19:00:00Z,0,False,False,8,NaN,11,NaN,[],2,2,74955
44,2292851,5,False,False,41,2022-08-31T18:30:00Z,0,False,False,2,NaN,1,NaN,[],2,4,74951
45,2292850,5,False,False,42,2022-08-31T18:30:00Z,0,False,False,20,NaN,3,NaN,[],2,2,74952
46,2292858,5,False,False,49,2022-08-31T18:30:00Z,0,False,False,16,NaN,13,NaN,[],2,5,74959
47,2292856,5,False,False,47,2022-08-31T18:45:00Z,0,False,False,18,NaN,19,NaN,[],3,3,74957
48,2292857,5,False,False,48,2022-08-31T19:00:00Z,0,False,False,15,NaN,12,NaN,[],3,5,74958
49,2292855,5,False,False,46,2022-09-01T19:00:00Z,0,False,False,14,NaN,10,NaN,[],3,4,74956

In [151]:
fixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   380 non-null    int64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   id                      380 non-null    int64
 5   kickoff_time            380 non-null    object
 6   minutes                 380 non-null    int64
 7   provisional_start_time  380 non-null    bool
 8   started                 380 non-null    bool
 9   team_a                  380 non-null    int64
 10  team_a_score            37 non-null     float64
 11  team_h                  380 non-null    int64
 12  team_h_score            37 non-null     float64
 13  stats                   380 non-null    object
 14  team_h_difficulty       380 non-null    int64
 15  team_a_difficulty       380 non-null    int64
 16  pulse_id                380 non-null    int64
dtypes: bool(4), float64(2), int64(9), object(2)
memory usage: 40.2+ KB

In [152]:
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text'],
      dtype='object')

In [153]:
teams_now=dict(zip(teams_df.id, teams_df.short_name))
positions=dict(zip(element_types_df.id, element_types_df.singular_name_short))
players_df['club_name'] = players_df['team'].map(teams_now)
players_df['position'] = players_df['element_type'].map(positions)

In [154]:
players_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,club_name,position
0,NaN,NaN,58822,0,0,-2,2,0,2,0.5,...,428,168,5.0,,3.0,,NaN,,ARS,DEF
1,NaN,NaN,84450,0,0,0,0,1,3,6.0,...,36,26,NaN,,NaN,,NaN,,ARS,MID
2,NaN,NaN,153256,0,0,-1,1,0,3,1.0,...,319,145,NaN,,NaN,,NaN,,ARS,MID
3,NaN,NaN,156074,0,0,-2,2,0,2,0.7,...,429,169,NaN,,NaN,,NaN,,ARS,DEF
4,75.0,NaN,167199,0,0,0,0,0,3,1.9,...,140,75,NaN,,4.0,,NaN,,ARS,MID

In [155]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 69 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          198 non-null    float64
 1   chance_of_playing_this_round          189 non-null    float64
 2   code                                  601 non-null    int64
 3   cost_change_event                     601 non-null    int64
 4   cost_change_event_fall                601 non-null    int64
 5   cost_change_start                     601 non-null    int64
 6   cost_change_start_fall                601 non-null    int64
 7   dreamteam_count                       601 non-null    int64
 8   element_type                          601 non-null    int64
 9   ep_next                               601 non-null    object
 10  ep_this                               601 non-null    object
 11  event_points                          601 non-null    int64
 12  first_name                            601 non-null    object
 13  form                                  601 non-null    object
 14  id                                    601 non-null    int64
 15  in_dreamteam                          601 non-null    bool
 16  news                                  601 non-null    object
 17  news_added                            198 non-null    object
 18  now_cost                              601 non-null    int64
 19  photo                                 601 non-null    object
 20  points_per_game                       601 non-null    object
 21  second_name                           601 non-null    object
 22  selected_by_percent                   601 non-null    object
 23  special                               601 non-null    bool
 24  squad_number                          0 non-null      object
 25  status                                601 non-null    object
 26  team                                  601 non-null    int64
 27  team_code                             601 non-null    int64
 28  total_points                          601 non-null    int64
 29  transfers_in                          601 non-null    int64
 30  transfers_in_event                    601 non-null    int64
 31  transfers_out                         601 non-null    int64
 32  transfers_out_event                   601 non-null    int64
 33  value_form                            601 non-null    object
 34  value_season                          601 non-null    object
 35  web_name                              601 non-null    object
 36  minutes                               601 non-null    int64
 37  goals_scored                          601 non-null    int64
 38  assists                               601 non-null    int64
 39  clean_sheets                          601 non-null    int64
 40  goals_conceded                        601 non-null    int64
 41  own_goals                             601 non-null    int64
 42  penalties_saved                       601 non-null    int64
 43  penalties_missed                      601 non-null    int64
 44  yellow_cards                          601 non-null    int64
 45  red_cards                             601 non-null    int64
 46  saves                                 601 non-null    int64
 47  bonus                                 601 non-null    int64
 48  bps                                   601 non-null    int64
 49  influence                             601 non-null    object
 50  creativity                            601 non-null    object
 51  threat                                601 non-null    object
 52  ict_index                             601 non-null    object
 53  influence_rank                        601 non-null    int64
 54  influence_rank_type                   601 non-null    int64
 55  creativity_rank                       601 non-null    int64
 56  creativity_rank_type                  601 non-null    int64
 57  threat_rank                           601 non-null    int64
 58  threat_rank_type                      601 non-null    int64
 59  ict_index_rank                        601 non-null    int64
 60  ict_index_rank_type                   601 non-null    int64
 61  corners_and_indirect_freekicks_order  81 non-null     float64
 62  corners_and_indirect_freekicks_text   601 non-null    object
 63  direct_freekicks_order                63 non-null     float64
 64  direct_freekicks_text                 601 non-null    object
 65  penalties_order                       59 non-null     float64
 66  penalties_text                        601 non-null    object
 67  club_name                             601 non-null    object
 68  position                              601 non-null    object
dtypes: bool(2), float64(5), int64(38), object(24)
memory usage: 315.9+ KB

In [156]:
players_df.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'club_name', 'position'],
      dtype='object')

In [157]:
players_df[['first_name', 'second_name', 'club_name', 'position', 'id', 'form', 'ep_next', 'ep_this']].head(10)

  first_name   second_name club_name position  id form ep_next ep_this
0     Cédric  Alves Soares       ARS      DEF   1  0.0     0.5     1.0
1     Granit         Xhaka       ARS      MID   3  5.5     6.0     6.5
2    Mohamed        Elneny       ARS      MID   4  0.5     1.0     1.5
3        Rob       Holding       ARS      DEF   5  0.2     0.7     1.2
4     Thomas        Partey       ARS      MID   6  2.0     1.9     3.0
5     Martin      Ødegaard       ARS      MID   7  7.8     8.3     8.8
6     Kieran       Tierney       ARS      DEF   8  1.2     1.7     2.2
7    Nicolas          Pépé       ARS      MID   9  0.0     0.0     0.0
8   Benjamin         White       ARS      DEF  10  3.5     4.0     4.5
9      Eddie       Nketiah       ARS      FWD  11  1.0     1.5     2.0

In [158]:
#Data Cleaning
players_df.chance_of_playing_next_round = players_df.chance_of_playing_next_round.fillna(100.0)
players_df.chance_of_playing_this_round = players_df.chance_of_playing_this_round.fillna(100.0)
players_df.drop('id', axis=1, inplace=True)
fixtures_df.team_a_score = fixtures_df.team_a_score.fillna(0)
fixtures_df.team_h_score = fixtures_df.team_h_score.fillna(0)
fixtures_df.drop(['stats', 'id'], axis=1, inplace=True)
fixtures_df['kickoff_time'] = fixtures_df['kickoff_time'].str[:-10]
fixtures_df['kickoff_time'] = pd.to_datetime(fixtures_df['kickoff_time'])

In [159]:
fixtures_df.columns

Index(['code', 'event', 'finished', 'finished_provisional', 'kickoff_time',
       'minutes', 'provisional_start_time', 'started', 'team_a',
       'team_a_score', 'team_h', 'team_h_score', 'team_h_difficulty',
       'team_a_difficulty', 'pulse_id'],
      dtype='object')

In [160]:
fixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    380 non-null    int64
 1   event                   380 non-null    int64
 2   finished                380 non-null    bool
 3   finished_provisional    380 non-null    bool
 4   kickoff_time            380 non-null    datetime64[ns]
 5   minutes                 380 non-null    int64
 6   provisional_start_time  380 non-null    bool
 7   started                 380 non-null    bool
 8   team_a                  380 non-null    int64
 9   team_a_score            380 non-null    float64
 10  team_h                  380 non-null    int64
 11  team_h_score            380 non-null    float64
 12  team_h_difficulty       380 non-null    int64
 13  team_a_difficulty       380 non-null    int64
 14  pulse_id                380 non-null    int64
dtypes: bool(4), datetime64[ns](1), float64(2), int64(8)
memory usage: 34.3 KB

In [161]:
fixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
0,2292810,1,True,True,2022-08-05,90,False,True,1,2.0,7,0.0,3,2,74911
1,2292813,1,True,True,2022-08-06,90,False,True,12,2.0,9,2.0,5,2,74914
2,2292811,1,True,True,2022-08-06,90,False,True,2,0.0,3,2.0,2,2,74912
3,2292814,1,True,True,2022-08-06,90,False,True,20,1.0,11,2.0,2,2,74915
4,2292816,1,True,True,2022-08-06,90,False,True,16,0.0,15,2.0,2,3,74917

In [162]:
#Create Next Game week fixtures
#GW3fixtures_df = fixtures_df.loc[(fixtures_df['kickoff_time'] >= "2022-08-27") & (fixtures_df['kickoff_time'] <= "2022-08-28")].copy()
#GW3fixtures_df.head()

In [163]:
#Create Next Game week fixtures
GWfixtures_df = fixtures_df.loc[(fixtures_df['event'] == 4)].copy()
GWfixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id
30,2292848,4,True,True,2022-08-27,90,False,True,14,1.0,17,0.0,3,2,74949
31,2292842,4,True,True,2022-08-27,90,False,True,8,1.0,4,1.0,2,2,74943
32,2292843,4,True,True,2022-08-27,90,False,True,11,0.0,5,1.0,2,2,74944
33,2292844,4,True,True,2022-08-27,90,False,True,10,1.0,6,2.0,3,4,74945
34,2292845,4,True,True,2022-08-27,90,False,True,3,0.0,12,9.0,2,5,74946

In [164]:
GWfixtures_df.shape

(10, 15)

In [165]:
#Mapping away and home team and respective strengths
home_strength= dict(zip(teams_df.id, teams_df.strength_overall_home))
away_strength= dict(zip(teams_df.id, teams_df.strength_overall_away))
GWfixtures_df['away_team'] = GWfixtures_df['team_a'].map(teams_now)
GWfixtures_df['home_team'] = GWfixtures_df['team_h'].map(teams_now)
GWfixtures_df['away_team_strength'] = GWfixtures_df['team_a'].map(away_strength)
GWfixtures_df['home_team_strength'] = GWfixtures_df['team_h'].map(home_strength)
GWfixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength
30,2292848,4,True,True,2022-08-27,90,False,True,14,1.0,17,0.0,3,2,74949,MUN,SOU,1250,1060
31,2292842,4,True,True,2022-08-27,90,False,True,8,1.0,4,1.0,2,2,74943,EVE,BRE,1100,1090
32,2292843,4,True,True,2022-08-27,90,False,True,11,0.0,5,1.0,2,2,74944,LEE,BHA,1070,1100
33,2292844,4,True,True,2022-08-27,90,False,True,10,1.0,6,2.0,3,4,74945,LEI,CHE,1240,1270
34,2292845,4,True,True,2022-08-27,90,False,True,3,0.0,12,9.0,2,5,74946,BOU,LIV,1050,1350

In [166]:
GWfixtures_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 30 to 39
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   code                    10 non-null     int64
 1   event                   10 non-null     int64
 2   finished                10 non-null     bool
 3   finished_provisional    10 non-null     bool
 4   kickoff_time            10 non-null     datetime64[ns]
 5   minutes                 10 non-null     int64
 6   provisional_start_time  10 non-null     bool
 7   started                 10 non-null     bool
 8   team_a                  10 non-null     int64
 9   team_a_score            10 non-null     float64
 10  team_h                  10 non-null     int64
 11  team_h_score            10 non-null     float64
 12  team_h_difficulty       10 non-null     int64
 13  team_a_difficulty       10 non-null     int64
 14  pulse_id                10 non-null     int64
 15  away_team               10 non-null     object
 16  home_team               10 non-null     object
 17  away_team_strength      10 non-null     int64
 18  home_team_strength      10 non-null     int64
dtypes: bool(4), datetime64[ns](1), float64(2), int64(10), object(2)
memory usage: 1.3+ KB

In [167]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 68 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          601 non-null    float64
 1   chance_of_playing_this_round          601 non-null    float64
 2   code                                  601 non-null    int64
 3   cost_change_event                     601 non-null    int64
 4   cost_change_event_fall                601 non-null    int64
 5   cost_change_start                     601 non-null    int64
 6   cost_change_start_fall                601 non-null    int64
 7   dreamteam_count                       601 non-null    int64
 8   element_type                          601 non-null    int64
 9   ep_next                               601 non-null    object
 10  ep_this                               601 non-null    object
 11  event_points                          601 non-null    int64
 12  first_name                            601 non-null    object
 13  form                                  601 non-null    object
 14  in_dreamteam                          601 non-null    bool
 15  news                                  601 non-null    object
 16  news_added                            198 non-null    object
 17  now_cost                              601 non-null    int64
 18  photo                                 601 non-null    object
 19  points_per_game                       601 non-null    object
 20  second_name                           601 non-null    object
 21  selected_by_percent                   601 non-null    object
 22  special                               601 non-null    bool
 23  squad_number                          0 non-null      object
 24  status                                601 non-null    object
 25  team                                  601 non-null    int64
 26  team_code                             601 non-null    int64
 27  total_points                          601 non-null    int64
 28  transfers_in                          601 non-null    int64
 29  transfers_in_event                    601 non-null    int64
 30  transfers_out                         601 non-null    int64
 31  transfers_out_event                   601 non-null    int64
 32  value_form                            601 non-null    object
 33  value_season                          601 non-null    object
 34  web_name                              601 non-null    object
 35  minutes                               601 non-null    int64
 36  goals_scored                          601 non-null    int64
 37  assists                               601 non-null    int64
 38  clean_sheets                          601 non-null    int64
 39  goals_conceded                        601 non-null    int64
 40  own_goals                             601 non-null    int64
 41  penalties_saved                       601 non-null    int64
 42  penalties_missed                      601 non-null    int64
 43  yellow_cards                          601 non-null    int64
 44  red_cards                             601 non-null    int64
 45  saves                                 601 non-null    int64
 46  bonus                                 601 non-null    int64
 47  bps                                   601 non-null    int64
 48  influence                             601 non-null    object
 49  creativity                            601 non-null    object
 50  threat                                601 non-null    object
 51  ict_index                             601 non-null    object
 52  influence_rank                        601 non-null    int64
 53  influence_rank_type                   601 non-null    int64
 54  creativity_rank                       601 non-null    int64
 55  creativity_rank_type                  601 non-null    int64
 56  threat_rank                           601 non-null    int64
 57  threat_rank_type                      601 non-null    int64
 58  ict_index_rank                        601 non-null    int64
 59  ict_index_rank_type                   601 non-null    int64
 60  corners_and_indirect_freekicks_order  81 non-null     float64
 61  corners_and_indirect_freekicks_text   601 non-null    object
 62  direct_freekicks_order                63 non-null     float64
 63  direct_freekicks_text                 601 non-null    object
 64  penalties_order                       59 non-null     float64
 65  penalties_text                        601 non-null    object
 66  club_name                             601 non-null    object
 67  position                              601 non-null    object
dtypes: bool(2), float64(5), int64(37), object(24)
memory usage: 311.2+ KB

In [168]:
players_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,club_name,position
0,100.0,100.0,58822,0,0,-2,2,0,2,0.5,...,428,168,5.0,,3.0,,NaN,,ARS,DEF
1,100.0,100.0,84450,0,0,0,0,1,3,6.0,...,36,26,NaN,,NaN,,NaN,,ARS,MID
2,100.0,100.0,153256,0,0,-1,1,0,3,1.0,...,319,145,NaN,,NaN,,NaN,,ARS,MID
3,100.0,100.0,156074,0,0,-2,2,0,2,0.7,...,429,169,NaN,,NaN,,NaN,,ARS,DEF
4,75.0,100.0,167199,0,0,0,0,0,3,1.9,...,140,75,NaN,,4.0,,NaN,,ARS,MID

In [169]:
players_df[['first_name', 'second_name', 'club_name', 'position', 'form', 'team']].head()

  first_name   second_name club_name position form  team
0     Cédric  Alves Soares       ARS      DEF  0.0     1
1     Granit         Xhaka       ARS      MID  5.5     1
2    Mohamed        Elneny       ARS      MID  0.5     1
3        Rob       Holding       ARS      DEF  0.2     1
4     Thomas        Partey       ARS      MID  2.0     1

In [170]:
GWfixtures_df.head()

,code,event,finished,finished_provisional,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength
30,2292848,4,True,True,2022-08-27,90,False,True,14,1.0,17,0.0,3,2,74949,MUN,SOU,1250,1060
31,2292842,4,True,True,2022-08-27,90,False,True,8,1.0,4,1.0,2,2,74943,EVE,BRE,1100,1090
32,2292843,4,True,True,2022-08-27,90,False,True,11,0.0,5,1.0,2,2,74944,LEE,BHA,1070,1100
33,2292844,4,True,True,2022-08-27,90,False,True,10,1.0,6,2.0,3,4,74945,LEI,CHE,1240,1270
34,2292845,4,True,True,2022-08-27,90,False,True,3,0.0,12,9.0,2,5,74946,BOU,LIV,1050,1350

In [171]:
gw_away_players = pd.merge(players_df, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_a"])
gw_away_players['player_opp'] = gw_away_players['web_name'].map(str) + '-' + gw_away_players['home_team'].map(str)
gw_home_players = pd.merge(players_df, GWfixtures_df, how="inner", left_on=["team"], right_on=["team_h"])
gw_home_players['player_opp'] = gw_home_players['web_name'].map(str) + '-' + gw_home_players['away_team'].map(str)
gw_away_players['diff'] = gw_away_players['away_team_strength'] - gw_away_players['home_team_strength']
gw_home_players['diff'] = gw_home_players['home_team_strength'] - gw_home_players['away_team_strength']
players_df = gw_away_players.append(gw_home_players)
players_df['player_club'] = players_df['web_name'].map(str) + '-' + players_df['club_name'].map(str)

In [172]:
players_df[['first_name', 'second_name', 'web_name', 'club_name', 'position', 'form', 'diff', 'away_team', 'home_team', 'player_club', 'player_opp' ]].head(100)

,first_name,second_name,web_name,club_name,position,form,diff,away_team,home_team,player_club,player_opp
0,Adam,Smith,Smith,BOU,DEF,0.5,-300,BOU,LIV,Smith-BOU,Smith-LIV
1,Junior,Stanislas,Stanislas,BOU,MID,0.5,-300,BOU,LIV,Stanislas-BOU,Stanislas-LIV
2,Ryan,Fredericks,Fredericks,BOU,DEF,0.0,-300,BOU,LIV,Fredericks-BOU,Fredericks-LIV
3,David,Brooks,Brooks,BOU,MID,0.0,-300,BOU,LIV,Brooks-BOU,Brooks-LIV
4,Jamal,Lowe,Lowe,BOU,MID,0.2,-300,BOU,LIV,Lowe-BOU,Lowe-LIV
...,...,...,...,...,...,...,...,...,...,...,...
95,Neeskens,Kebano,Kebano,FUL,MID,1.8,-140,FUL,ARS,Kebano-FUL,Kebano-ARS
96,Bobby,De Cordova-Reid,De Cordova-Reid,FUL,MID,3.2,-140,FUL,ARS,De Cordova-Reid-FUL,De Cordova-Reid-ARS
97,Joe,Bryan,Bryan,FUL,DEF,0.0,-140,FUL,ARS,Bryan-FUL,Bryan-ARS
98,Paulo,Gazzaniga Farias,Gazzaniga,FUL,GKP,0.0,-140,FUL,ARS,Gazzaniga-FUL,Gazzaniga-ARS
99,Terence,Kongolo,Kongolo,FUL,DEF,0.0,-140,FUL,ARS,Kongolo-FUL,Kongolo-ARS

In [173]:
#My team
my_team = ['Ederson-MCI', 'Alexander-Arnold-LIV', 'Salah-LIV', 'Walker-MCI', 'Haaland-MCI', 'James-CHE', 'Cash-AVL', 'Archer-AVL', 'Rodrigo-LEE', 'Saka-ARS', 'Martinelli-ARS', 'Jesus-ARS', 'Meslier-LEE', 'Milivojevic-CRY', 'Dunk-BHA']
my_players_df = players_df.loc[players_df.player_club.isin(my_team)].copy()
my_players_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code_x,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength,player_opp,diff,player_club
34,100.0,100.0,66975,0,0,0,0,0,3,0.8,...,2,5,74947,CRY,MCI,1100,1350,Milivojevic-MCI,-250,Milivojevic-CRY
152,100.0,100.0,80954,0,0,4,-4,2,3,8.7,...,2,2,74944,LEE,BHA,1070,1100,Rodrigo-BHA,-30,Rodrigo-LEE
165,100.0,100.0,437495,0,0,0,0,0,1,3.0,...,2,2,74944,LEE,BHA,1070,1100,Meslier-BHA,-30,Meslier-LEE
11,100.0,100.0,223340,0,0,-1,1,0,3,4.5,...,2,4,74941,FUL,ARS,1060,1200,Saka-FUL,140,Saka-ARS
17,100.0,100.0,444145,0,0,4,-4,0,3,6.5,...,2,4,74941,FUL,ARS,1060,1200,Martinelli-FUL,140,Martinelli-ARS

In [174]:
bank = 2
my_team = ['Ederson-MCI', 'Alexander-Arnold-LIV', 'Salah-LIV', 'Walker-MCI', 'Haaland-MCI', 'James-CHE', 'Cash-AVL', 'Archer-AVL', 'Rodrigo-LEE', 'Saka-ARS', 'Martinelli-ARS', 'Jesus-ARS', 'Meslier-LEE', 'Milivojevic-CRY', 'Dunk-BHA']
potential_players = players_df.loc[~players_df.player_club.isin(my_team)].copy()
potential_players.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code_x,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,team_h_difficulty,team_a_difficulty,pulse_id,away_team,home_team,away_team_strength,home_team_strength,player_opp,diff,player_club
0,100.0,100.0,54469,0,0,-1,1,0,2,0.0,...,2,5,74946,BOU,LIV,1050,1350,Smith-LIV,-300,Smith-BOU
1,0.0,0.0,56872,0,0,-1,1,0,3,0.0,...,2,5,74946,BOU,LIV,1050,1350,Stanislas-LIV,-300,Stanislas-BOU
2,0.0,0.0,81012,0,0,-1,1,0,2,0.0,...,2,5,74946,BOU,LIV,1050,1350,Fredericks-LIV,-300,Fredericks-BOU
3,0.0,0.0,111317,0,0,-1,1,0,3,0.0,...,2,5,74946,BOU,LIV,1050,1350,Brooks-LIV,-300,Brooks-BOU
4,75.0,75.0,128309,0,0,-1,1,0,3,-0.2,...,2,5,74946,BOU,LIV,1050,1350,Lowe-LIV,-300,Lowe-BOU

In [175]:
potential_players.shape

(586, 90)

In [176]:
my_players_df[['web_name', 'club_name', 'position', 'form', 'now_cost', 'away_team', 'home_team', 'chance_of_playing_this_round']].head(20)

,web_name,club_name,position,form,now_cost,away_team,home_team,chance_of_playing_this_round
34,Milivojevic,CRY,MID,0.8,45,CRY,MCI,100.0
152,Rodrigo,LEE,MID,9.2,64,LEE,BHA,100.0
165,Meslier,LEE,GKP,3.5,45,LEE,BHA,100.0
11,Saka,ARS,MID,4.0,79,FUL,ARS,100.0
17,Martinelli,ARS,MID,6.0,64,FUL,ARS,100.0
26,Jesus,ARS,FWD,6.5,82,FUL,ARS,100.0
42,Cash,AVL,DEF,1.0,48,WHU,AVL,100.0
52,Archer,AVL,FWD,0.2,45,WHU,AVL,100.0
93,Dunk,BHA,DEF,5.5,45,LEE,BHA,100.0
139,James,CHE,DEF,5.5,61,LEI,CHE,100.0
156,Salah,LIV,MID,6.2,130,BOU,LIV,100.0
158,Alexander-Arnold,LIV,DEF,5.2,75,BOU,LIV,100.0
180,Walker,MCI,DEF,3.5,51,CRY,MCI,100.0
187,Ederson,MCI,GKP,3.8,55,CRY,MCI,100.0
197,Haaland,MCI,FWD,10.2,117,CRY,MCI,100.0

In [177]:
#Deciding Players out
def calc_out_weights(players):
    players['weight'] = 100
    players['weight'] -= players['diff']/3
    players['weight'] -= players['form'].astype("float")*10
    players['weight']+= (100 -players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['element_type'] ==1, 'weight'] -=10
    players.loc[players['weight'] <0, 'weight'] =0
    return players.sample(1, weights=players.weight)

In [178]:
player_out= calc_out_weights(my_players_df)
player_out[['web_name', 'element_type']]

   web_name  element_type
42     Cash             2

In [179]:
my_players_df[['web_name', 'club_name', 'team', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team']].sort_values(by='weight', ascending=False).head(20)

,web_name,club_name,team,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team
34,Milivojevic,CRY,7,MID,100.0,175.333333,45,0.8,-250,CRY,MCI
52,Archer,AVL,2,FWD,100.0,124.666667,45,0.2,-80,WHU,AVL
42,Cash,AVL,2,DEF,100.0,116.666667,48,1.0,-80,WHU,AVL
165,Meslier,LEE,11,GKP,100.0,65.000000,45,3.5,-30,LEE,BHA
93,Dunk,BHA,5,DEF,100.0,35.000000,45,5.5,30,LEE,BHA
139,James,CHE,6,DEF,100.0,35.000000,61,5.5,30,LEI,CHE
152,Rodrigo,LEE,11,MID,100.0,18.000000,64,9.2,-30,LEE,BHA
11,Saka,ARS,1,MID,100.0,13.333333,79,4.0,140,FUL,ARS
17,Martinelli,ARS,1,MID,100.0,0.000000,64,6.0,140,FUL,ARS
26,Jesus,ARS,1,FWD,100.0,0.000000,82,6.5,140,FUL,ARS
156,Salah,LIV,12,MID,100.0,0.000000,130,6.2,300,BOU,LIV
158,Alexander-Arnold,LIV,12,DEF,100.0,0.000000,75,5.2,300,BOU,LIV
180,Walker,MCI,13,DEF,100.0,0.000000,51,3.5,250,CRY,MCI
187,Ederson,MCI,13,GKP,100.0,0.000000,55,3.8,250,CRY,MCI
197,Haaland,MCI,13,FWD,100.0,0.000000,117,10.2,250,CRY,MCI

In [180]:
##Deciding players In
position = player_out.element_type.iat[0]
#position = 2
out_cost = player_out.now_cost.iat[0]
#out_cost = 49
budget = bank + out_cost
dups_team = my_players_df.pivot_table(index=['club_name'], aggfunc='size')
invalid_teams = dups_team.loc[dups_team==3].index.tolist()
invalid_teams

['ARS', 'MCI']

In [181]:
potential_players=potential_players.loc[~potential_players.club_name.isin(invalid_teams)]
potential_players=potential_players.loc[potential_players.element_type==position]
potential_players = potential_players.loc[potential_players.now_cost<=budget]
potential_players[['web_name', 'element_type','club_name', 'position', 'chance_of_playing_this_round', 'now_cost', 'form', 'diff', 'away_team', 'home_team']].head(11)

,web_name,element_type,club_name,position,chance_of_playing_this_round,now_cost,form,diff,away_team,home_team
0,Smith,2,BOU,DEF,100.0,44,0.5,-300,BOU,LIV
2,Fredericks,2,BOU,DEF,0.0,44,0.0,-300,BOU,LIV
8,Stacey,2,BOU,DEF,100.0,44,-0.2,-300,BOU,LIV
14,Mepham,2,BOU,DEF,100.0,45,0.8,-300,BOU,LIV
16,Kelly,2,BOU,DEF,100.0,45,3.2,-300,BOU,LIV
19,Zemura,2,BOU,DEF,100.0,44,1.0,-300,BOU,LIV
23,Hill,2,BOU,DEF,100.0,45,0.0,-300,BOU,LIV
25,Senesi,2,BOU,DEF,100.0,45,-0.3,-300,BOU,LIV
27,Bevan,2,BOU,DEF,100.0,40,1.0,-300,BOU,LIV
29,Tomkins,2,CRY,DEF,0.0,40,0.0,-250,CRY,MCI
32,Ward,2,CRY,DEF,100.0,45,0.8,-250,CRY,MCI

In [182]:
potential_players.shape

(181, 90)

In [183]:
#Confirm Invalid Teams are not included
potential_players.groupby(['now_cost']).size().sort_values(ascending = False).head(20)

now_cost
45    65
44    43
40    41
50    11
49     8
48     6
47     2
43     2
46     1
41     1
39     1
dtype: int64

In [184]:
def calc_in_players_weights(players):
    players['weight'] = 1
    players['weight'] += players['diff']/3
    players['weight'] += players['form'].astype("float")*10
    players['weight'] -= (100 - players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['weight'] <0, 'weight'] =0
    return players

In [185]:
player_in = calc_in_players_weights(potential_players)
player_in[['web_name', 'club_name', 'element_type', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team']]

,web_name,club_name,element_type,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team
0,Smith,BOU,2,100.0,0.0,44,0.5,-300,BOU,LIV
2,Fredericks,BOU,2,0.0,0.0,44,0.0,-300,BOU,LIV
8,Stacey,BOU,2,100.0,0.0,44,-0.2,-300,BOU,LIV
14,Mepham,BOU,2,100.0,0.0,45,0.8,-300,BOU,LIV
16,Kelly,BOU,2,100.0,0.0,45,3.2,-300,BOU,LIV
...,...,...,...,...,...,...,...,...,...,...
284,Aït-Nouri,WOL,2,100.0,0.0,45,1.5,-90,NEW,WOL
286,Toti,WOL,2,100.0,0.0,40,0.0,-90,NEW,WOL
290,Mosquera,WOL,2,100.0,0.0,40,0.0,-90,NEW,WOL
292,Collins,WOL,2,100.0,0.0,45,2.5,-90,NEW,WOL
294,Bueno,WOL,2,100.0,0.0,40,0.0,-90,NEW,WOL

In [186]:
potential_players = player_in.loc[(player_in.weight>0) & (player_in.chance_of_playing_this_round==100)] 
potential_players[['web_name', 'club_name', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team', 'player_opp']].sort_values(by='form', ascending=False).head(40)

,web_name,club_name,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team,player_opp
96,Veltman,BHA,DEF,100.0,71.000000,45,6.0,30,LEE,BHA,Veltman-LEE
227,Schär,NEW,DEF,100.0,81.000000,47,5.0,90,NEW,WOL,Schär-WOL
95,Webster,BHA,DEF,100.0,59.000000,45,4.8,30,LEE,BHA,Webster-LEE
84,Mee,BRE,DEF,100.0,37.666667,46,4.0,-10,EVE,BRE,Mee-EVE
261,Emerson Royal,TOT,DEF,100.0,117.666667,50,4.0,230,TOT,NFO,Emerson Royal-NFO
246,Dier,TOT,DEF,100.0,115.666667,50,3.8,230,TOT,NFO,Dier-NFO
162,Struijk,LEE,DEF,100.0,29.000000,45,3.8,-30,LEE,BHA,Struijk-BHA
219,Burn,NEW,DEF,100.0,66.000000,45,3.5,90,NEW,WOL,Burn-WOL
116,Estupiñán,BHA,DEF,100.0,46.000000,45,3.5,30,LEE,BHA,Estupiñán-LEE
155,Llorente,LEE,DEF,100.0,23.000000,45,3.2,-30,LEE,BHA,Llorente-BHA
196,Dalot,MUN,DEF,100.0,96.333333,44,3.2,190,MUN,SOU,Dalot-SOU
65,Henry,BRE,DEF,100.0,29.666667,45,3.2,-10,EVE,BRE,Henry-EVE
248,Davies,TOT,DEF,100.0,107.666667,50,3.0,230,TOT,NFO,Davies-NFO
75,Holgate,EVE,DEF,100.0,34.333333,45,3.0,10,EVE,BRE,Holgate-BRE
83,Coady,EVE,DEF,100.0,34.333333,49,3.0,10,EVE,BRE,Coady-BRE
202,Malacia,MUN,DEF,100.0,94.333333,44,3.0,190,MUN,SOU,Malacia-SOU
157,Koch,LEE,DEF,100.0,19.000000,45,2.8,-30,LEE,BHA,Koch-BHA
129,Castagne,LEI,DEF,100.0,16.000000,45,2.5,-30,LEI,CHE,Castagne-CHE
120,Azpilicueta,CHE,DEF,100.0,36.000000,50,2.5,30,LEI,CHE,Azpilicueta-LEI
171,Kristensen,LEE,DEF,100.0,16.000000,49,2.5,-30,LEE,BHA,Kristensen-BHA
252,R.Sessegnon,TOT,DEF,100.0,99.666667,45,2.2,230,TOT,NFO,R.Sessegnon-NFO
238,Botman,NEW,DEF,100.0,53.000000,45,2.2,90,NEW,WOL,Botman-WOL
183,Varane,MUN,DEF,100.0,84.333333,48,2.0,190,MUN,SOU,Varane-SOU
228,Targett,NEW,DEF,100.0,51.000000,49,2.0,90,NEW,WOL,Targett-WOL
58,Jansson,BRE,DEF,100.0,17.666667,45,2.0,-10,EVE,BRE,Jansson-EVE
88,Zanka,BRE,DEF,100.0,17.666667,40,2.0,-10,EVE,BRE,Zanka-EVE
81,Hickey,BRE,DEF,100.0,17.666667,50,2.0,-10,EVE,BRE,Hickey-EVE
159,Gomez,LIV,DEF,100.0,121.000000,45,2.0,300,BOU,LIV,Gomez-BOU
165,Tsimikas,LIV,DEF,100.0,121.000000,45,2.0,300,BOU,LIV,Tsimikas-BOU
204,Martínez,MUN,DEF,100.0,82.333333,44,1.8,190,MUN,SOU,Martínez-SOU
80,Patterson,EVE,DEF,100.0,22.333333,40,1.8,10,EVE,BRE,Patterson-BRE
82,Tarkowski,EVE,DEF,100.0,22.333333,45,1.8,10,EVE,BRE,Tarkowski-BRE
251,Sánchez,TOT,DEF,100.0,92.666667,44,1.5,230,TOT,NFO,Sánchez-NFO
77,Mykolenko,EVE,DEF,100.0,19.333333,45,1.5,10,EVE,BRE,Mykolenko-BRE
139,Justin,LEI,DEF,100.0,6.000000,44,1.5,-30,LEI,CHE,Justin-CHE
70,Roerslev,BRE,DEF,100.0,12.666667,45,1.5,-10,EVE,BRE,Roerslev-EVE
280,Zouma,WHU,DEF,100.0,37.666667,45,1.0,80,WHU,AVL,Zouma-AVL
128,Amartey,LEI,DEF,100.0,1.000000,45,1.0,-30,LEI,CHE,Amartey-CHE
289,Johnson,WHU,DEF,100.0,37.666667,45,1.0,80,WHU,AVL,Johnson-AVL
71,Bech,BRE,DEF,100.0,5.666667,45,0.8,-10,EVE,BRE,Bech-EVE

In [187]:
potential_players.shape

(74, 91)

In [188]:
#Player by random selection
potential_player_alg = potential_players.sample(1, weights=potential_players.weight)
potential_player_alg[['web_name', 'club_name', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team', 'player_opp']].head()

,web_name,club_name,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team,player_opp
183,Varane,MUN,DEF,100.0,84.333333,48,2.0,190,MUN,SOU,Varane-SOU

In [189]:
#Checking Players with Historical Haul
potential_players2 = pd.merge(potential_players, hauls_df, how="inner", left_on=["player_opp"], right_on=["player-opp"])

In [190]:
potential_players2[['web_name', 'player_opp', 'club_name_y', 'year']].head()

    web_name     player_opp club_name_y     year
0    Maguire    Maguire-SOU         LEI  2018-19
1       Shaw       Shaw-SOU         MUN  2016-17
2  Lascelles  Lascelles-WOL         NEW  2019-20
3  Lascelles  Lascelles-WOL         NEW  2020-21

In [191]:
def calc_starters_weights(players):
    players['weight'] = 1
    players['weight'] += players['diff']/2
    players['weight'] += players['form'].astype("float")*5
    players['weight'] -= (100 - players['chance_of_playing_this_round'].astype("float"))*0.2
    players.loc[players['weight'] <0, 'weight'] =0
    return players

In [192]:
starters = calc_starters_weights(my_players_df)
starters[['web_name', 'club_name', 'team', 'position', 'chance_of_playing_this_round', 'weight', 'now_cost', 'form', 'diff', 'away_team', 'home_team']].sort_values(by='weight', ascending=False).head(15)

,web_name,club_name,team,position,chance_of_playing_this_round,weight,now_cost,form,diff,away_team,home_team
156,Salah,LIV,12,MID,100.0,182.0,130,6.2,300,BOU,LIV
158,Alexander-Arnold,LIV,12,DEF,100.0,177.0,75,5.2,300,BOU,LIV
197,Haaland,MCI,13,FWD,100.0,177.0,117,10.2,250,CRY,MCI
187,Ederson,MCI,13,GKP,100.0,145.0,55,3.8,250,CRY,MCI
180,Walker,MCI,13,DEF,100.0,143.5,51,3.5,250,CRY,MCI
26,Jesus,ARS,1,FWD,100.0,103.5,82,6.5,140,FUL,ARS
17,Martinelli,ARS,1,MID,100.0,101.0,64,6.0,140,FUL,ARS
11,Saka,ARS,1,MID,100.0,91.0,79,4.0,140,FUL,ARS
93,Dunk,BHA,5,DEF,100.0,43.5,45,5.5,30,LEE,BHA
139,James,CHE,6,DEF,100.0,43.5,61,5.5,30,LEI,CHE
152,Rodrigo,LEE,11,MID,100.0,32.0,64,9.2,-30,LEE,BHA
165,Meslier,LEE,11,GKP,100.0,3.5,45,3.5,-30,LEE,BHA
34,Milivojevic,CRY,7,MID,100.0,0.0,45,0.8,-250,CRY,MCI
42,Cash,AVL,2,DEF,100.0,0.0,48,1.0,-80,WHU,AVL
52,Archer,AVL,2,FWD,100.0,0.0,45,0.2,-80,WHU,AVL